

<div class="container">
<!-- <div id="hr"> -->
	<div id="footer">
			<ul class="footer" id="hover">
				<li><a href="">Home |</a></li>

				<li><a href="">Profile |</a></li>

				<li><a href="">Contact |</a></li>

				<li><a href="">Gallery |</a></li>

				<li><a href="/welcome/menu">Menu |</a></li>

				<li><a href="">About |</a></li>

				<li><a href="">Calendar |</a></li>

				<li><a href="">Giving</a></li>
			</ul>
	</div>
</div>






<!-- home
profile
contact
gallery
drinks
about
calendar
giving

 -->