 <script src="/assets/rnav.js"></script>
 <link href="https://fonts.googleapis.com/css?family=Krona+One" rel="stylesheet">

<div class="nav-item" id="myNavitem">
    <!-- first link/child -->
    <a class="nav-link" id="home-tab" href="/welcome/index" role="tab" aria-controls="home" aria-selected="true">
        <img src="https://lh3.googleusercontent.com/y-wanBVEI4_8ZXoUrMWYRaxuCgrAd-wwoHQAbFp18E1TGTXW_6zWsrID-iE__qCx5F-28_HG0lxXtoMXagp99BIMlspHWdAcGaR26k5e1r8U05R9RH7AyHdqH9ZOlOQt5UOX0nPNUg" alt="">

        <div class="nav-address">
            <p>
                159 West 10th Street, New York, NY 10014 <br>
                Phone: (877) 746-0528
            </p>
        </div>

    </a>



 <!--    <div class="nav-address">
      <p>
        159 West 10th Street, New York, NY 10014 <br>
        Phone: (877) 746-0528
      </p>
    </div>
 -->

  <!-- second link/child -->
    <a id="drinks-music-tab" href="/welcome/menu">Menu</a>
    <a id="gallery-tab" href="/welcome/gallery">Gallery</a>
    <a id="about" href="/welcome/about">About</a>
    <a id="calendar" href="/welcome/calendar">Calendar</a>
    <a id="contact-link" href="/welcome/contact">Contact</a>
    <a id="links-link" href="/welcome/links">Links</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    
</div>





