<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Marck+Script">



  <ul class="nav nav-tabs" id="myTab" role="tablist">



      <li class="nav-item">
        <a class="nav-link" id="home-tab" href="/welcome/index" role="tab" aria-controls="home" aria-selected="true"><img src="https://lh3.googleusercontent.com/y-wanBVEI4_8ZXoUrMWYRaxuCgrAd-wwoHQAbFp18E1TGTXW_6zWsrID-iE__qCx5F-28_HG0lxXtoMXagp99BIMlspHWdAcGaR26k5e1r8U05R9RH7AyHdqH9ZOlOQt5UOX0nPNUg" alt=""></a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" href="/welcome/contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
      </li>
      <li>
        <a class="nav-link" id="gallery-tab" data-toggle="tab" href="#gallery" role="tab" aria-controls="gallery" aria-selected="false">Gallery</a>
      </li>
        <li>
        <a class="nav-link" id="drinks-music-tab"  href="/welcome/menu" role="tab" aria-controls="drinks" aria-selected="false">Menu</a>
      </li>
          <li>
        <a class="nav-link" id="about"  href="/welcome/about" role="tab" aria-controls="about" aria-selected="false">About</a>
      </li>
      <li>
        <a class="nav-link" id="calendar" data-toggle="tab" href="#calendar" role="tab" aria-controls="calendar" aria-selected="false">Calendar</a>
      </li>
          <li>
        <a class="nav-link" id="giving-back" data-toggle="tab" href="#giving" role="tab" aria-controls="giving-back" aria-selected="false">Giving Back</a>
      </li>
  </ul>



<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...Welcome Home!</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Profile!</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Contact!</div>
</div>






 -->