



  <nav>
    <ul>
      <!-- <li><a href="juliusbar.herokuapp.com">Julius Bar</a></li> -->

      <li class="nav-item">
            <a class="nav-link" id="home-tab" href="/welcome/index" role="tab" aria-controls="home" aria-selected="true"><img src="https://lh3.googleusercontent.com/y-wanBVEI4_8ZXoUrMWYRaxuCgrAd-wwoHQAbFp18E1TGTXW_6zWsrID-iE__qCx5F-28_HG0lxXtoMXagp99BIMlspHWdAcGaR26k5e1r8U05R9RH7AyHdqH9ZOlOQt5UOX0nPNUg" alt=""></a>
          </li>



      
      <li><a id="contact-tab" href="juliusbar.herokuapp.com">Contact</a></li>
      <li><a id="gallery-tab" href="juliusbar.herokuapp.com">Gallery</a></li>
      <li><a id="drinks-music-tab" href="/welcome/menu">Menu</a></li>


      <li><a id="about" href="/welcome/about">About</a></li>
      <li><a id="calendar" href="juliusbar.herokuapp.com">Calendar</a></li>
      <li><a id="giving-back" href="juliusbar.herokuapp.com">Giving Back</a></li>

    </ul>
  </nav>