<html>
<head>
	<meta charset="UTF-8">
	<title>About Page</title>



<div class="about-wrapper">
		<div class="about-container">
			<div><span class="about-titles"> Hitoric Bar <br><br></span>Julius' is a bar that has a lot of history. This structure has been welcoming folks since 1840, first as a grocery store and then, in 1864 as a bar. It was built in 1826 on the corner of Amos Street (West 10th) and Factory Street (Waverly Place). Since then, we've started a variety of traditions at our bar.</div><br>


				<div class="video-responsive">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/_PueGOw1Rwc" frameborder="5" gesture="media" allow="encrypted-media" allowfullscreen></iframe><br><br>
				</div>





		</div>

		<div class="about-container">
			<div><span class="about-titles">Fighting for Rights <br><br></span> During Prohibition, our bar was a popular speakeasy and, along with Nick's at the corner of Seventh Avenue South and the nearby Village Vanguard, was frequented by many of the jazz and literary legends of the era. It started to attract a gay clientele in the 1950s and it is surely the oldest gay bar in the city and the oldest bar in the village.

			On April 21, 1966, four homophile activists staged a "sip in" at Julius' to challenge the NYS Liquor Authority's regulation that prohibited bars and restaurants from serving homosexuals. Accompanied by five reporters, the group visited a number of bars until they were denied service at Julius', a longtime Greenwich Village gay bar. The incident drew a denial from the SLA chairman that his agency told bars not to serve homosexuals and precipitated an investigation by the chairman of the city's Human Right's Commission. (From: Becoming Visible, Penguin Studios 1998) <br><br>

				
			</div>
		</div>

		<div class="about-container">
			<div><span class="about-titles"> Latest News <br><br></span>On April of 2016 marks the 50th anniversary of the landmark ‘Sip-In’ at Julius’ Bar, at which gay activists challenged New York State’s prohibitions on gay bars.  More than three years before Stonewall, this pioneering action helped put in motion changes which led to vast changes in the legal, political, and social landscape for LGBT people. It is considered one of the very first planned actions of civil disobedience for LGBT rights.
			<br><br><br><br></div>
		</div>



	</div>
</div>

			
</head>



		<body>

			
		</body>






</html>

