<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<h1>Calendarssssss</h1>
</head>
<body>

	

<div class="grid">
	<div class="wrap">

<div class="bh-dividers"><img src="https://lh3.googleusercontent.com/agJNVyc_WO3aAra3qS3XpuHm1T2pmhZDtEFZQ_VW4mvktv_EUFR_VWrQHuidPws6dMtY3zFe_rufSuQK5tw1rlgBfEgFFo8RF7AD8z_uekreAbl5UK_y6Ry2F03WM3Y9suE726bANg" alt="bh-divider"></div>


		<div class="juliuscalendar">
			<p>Julius Calendar MARCH 2018</p>
		</div>


		<div class="daysoftheweek">
			<p>Sunday</p>
			<p>Monday</p>
			<p>Tuesday</p>
			<p>Wednesday</p>
			<p>Thurseday</p>
			<p>Friday</p>
			<p>Saturday</p>
		</div>


		<div class="container1">

			<div class="box1">
				<p>1</p>
				
			</div>
	

			<div class="box2">
				<p>2</p>
				
			</div>

			<div class="box3">
				<p>3</p>
				
			</div>

			<div class="box4">
				<p>4</p>
				
			</div>

			<div class="box5">
				<p>5</p>
				
			</div>

			<div class="box6">
				<p>6</p>
				
			</div>

			<div class="box7">
				<p>7</p>
				
			</div>
				
		</div>


		<div class="container2">

			<div class="box8">
				<p>8</p>

			</div>

			<div class="box9">
				<p>9</p>
				
			</div>

			<div class="box10">
				<p>10</p>
				
			</div>

			<div class="box11">
				<p>11</p>
				
			</div>

			<div class="box12">
				<p>12</p>
				
			</div>

			<div class="box13">
				<p>13</p>
				
			</div>

			<div class="box14">
				<p>14</p>
				
			</div>

		</div>


		<div class="container3">

			<div class="box15">
				<p>15</p>
			</div>

			<div class="box16">
				<p>16</p>
				
			</div>

			<div class="box17">
				<p>17</p>
				
			</div>

			<div class="box18">
				<p>18</p>
				
			</div>

			<div class="box19">
				<p>19</p>
				
			</div>

			<div class="box20">
				<p>20</p>
				
			</div>

			<div class="box21">
				<p>21</p>
				
			</div>

		</div>



		<div class="container4">

			<div class="box22">
				<p>22</p>
				
			</div>

			<div class="box23">
				<p>23</p>
				
			</div>

			<div class="box24">
				<p>24</p>
				
			</div>

			<div class="box25">
				<p>25</p>
				
			</div>

			<div class="box26">
				<p>26</p>
				
			</div>

			<div class="box27">
				<p>27</p>
				
			</div>

			<div class="box28">
				<p>28</p>
				
			</div>

		</div>



		<div class="container5">

			<div class="box29">
				<p>29</p>
				
			</div>

			<div class="box30">
				<p>30</p>
				
			</div>

			<div class="box31">
				<p>31</p>
				
			</div>

			<div class="box32">
				<p>32</p>
				
			</div>

			<div class="box33">
				<p>33</p>
				
			</div>

			<div class="box34">
				<p>34</p>
				
			</div>

			<div class="box35">
				<p>35</p>
				
			</div>

		</div>
	</div>
</div>

	







</body>
</html>





<style>

body {
	background-color: black;
}

.grid {
	/*background-color: black;*/

	/*display: grid;*/
	/*grid-template-columns:repeat(7, 1fr);*/
}

.wrap	{
	background-color: black;
	position: absolute;
	top: 15%;
	left: 25%;
}

.bh-dividers img {
		border-radius: 20px;
		padding: 2px;
		margin: 2px;
		width:100px;
		position: relative;
		left: 35%;

	}



.juliuscalendar {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: green;
}

.daysoftheweek p {
	/*font-size: 12px;*/
	padding: 0px 5px 0px 4px;
	color: white;
	display: inline-block;
	background-color: black;
}

.container1 {
	padding: 2px;
}

.container2 {
	padding: 2px;
}

.container3 {
	padding: 2px;
}

.container4 {
	padding: 2px;
}

.container5 {
	padding: 2px;
}
	

.box1  {
	display: inline-block;
	
}

.box2 {	
	display: inline-block;

	
}


.box3 {
	display: inline-block;

}


.box4 {
	display: inline-block;

}

.box5 {
	display: inline-block;

}

.box6 {
	display: inline-block;

}

.box7 {
	display: inline-block;

}

.box8 {
	display: inline-block;

}

.box9 {
	display: inline-block;

}

.box10 {
	display: inline-block;

}

.box11 {
	display: inline-block;

}

.box12 {
	display: inline-block;

}

.box13 {
	display: inline-block;
}

.box14 {
	display: inline-block;

}

.box15 {
	display: inline-block;
}

.box16 {
	display: inline-block;

}

.box17 {
	display: inline-block;

}

.box18 {
	display: inline-block;

}

.box19 {
	display: inline-block;

}

.box20 {
	display: inline-block;

}
.box21 {
	display: inline-block;

}

.box22 {
	display: inline-block;

}

.box23 {
	display: inline-block;

}

.box24 {
	display: inline-block;

}

.box25 {
	display: inline-block;

}

.box26 {
	display: inline-block;

}

.box27 {
	display: inline-block;

}

.box28 {
	display: inline-block;

}

.box29 {
	display: inline-block;

}

.box30 {
	display: inline-block;

}

.box31 {
	display: inline-block;

}

.box32 {
	display: inline-block;

}

.box33 {
	display: inline-block;

}

.box34 {
	display: inline-block;

}

.box35 {
	display: inline-block;

}





/* Calendar Number */
.box1 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}


.box2 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}

.box3 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box4 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box5 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box6 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box7 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box8 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box9 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box10 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box11 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box12 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box13 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box14 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box15 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box16 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box17 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box18 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box19 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box20 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box21 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box22 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box23 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box24 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box25 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box26 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box27 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box28 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box29 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box30 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box31 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box32 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box33 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box34 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}



.box35 > p {
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 50px;
}







</style>


