<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<title>Calendar 2</title>
	<link rel="stylesheet" href="/assets/calendar2.css.scss">
	<link rel="stylesheet" href="/assets/tingle.css.scss">
	<script src="/assets/tingle.js"></script>
</head>
<body>

			
<div class="cal-header">
	<p>Julius' Calendar MARCH 2018</p>
</div>

<div class="mobile-cal-header">
	<p> Julius' March 2018</p>
</div>
	

			

			<div class="basset-hound"><!-- <p>Julius Calendar MARCH 2018</p> --><br><img src="https://lh3.googleusercontent.com/agJNVyc_WO3aAra3qS3XpuHm1T2pmhZDtEFZQ_VW4mvktv_EUFR_VWrQHuidPws6dMtY3zFe_rufSuQK5tw1rlgBfEgFFo8RF7AD8z_uekreAbl5UK_y6Ry2F03WM3Y9suE726bANg" alt="bh-divider"></div>



		    <!-- <button class="btn btn--primary btn-demo js-tingle-cal">Mattachine Party!</button> -->
  <!--           <button class="btn btn--secondary btn-demo js-tingle-modal-2">Need buttons?</button>
            <button class="btn btn--secondary btn-demo js-tingle-modal-3">Big content? No problem!</button>
            <button class="btn btn--secondary btn-demo js-tingle-modal-4">Stick to me!</button>
            <button class="btn btn--secondary btn-demo js-tingle-modal-5">Close with footer button only</button>
            <button class="btn btn--secondary btn-demo js-tingle-modal-6">?</button> -->



<!-- Summer Beach Party Information with flyer image -->
            <div class="tingle-cal">
            	<h1>Beach Party Kick Off!!</h1>
            	<p>May 31st! Julius' Summer Kick Off Beach Party!!</p>
            	<img src="/assets/summerbeachparty.png" alt="Summer Beach Party">
            </div>


<!-- Mattachine May 23rd Information with flyer image -->
    		<div class="tingle-cal-mattachine">
            	<h1>Mattachine Party!!!</h1>
            	<p>Join us for our famous Mattachine Party on Monday May 23rd!! Party starts at 10pm!!</p>
            	<img src="/assets/mattachineevent.jpg" alt="Mattachine Party!">
            </div>



<div class="wrap">

	<div class="calendar-container">

			<div class="sun">Sunday</div>
			<div class="mon">Monday</div>
			<div class="tues">Tuesday</div>
			<div class="wed"> Wednesday</div>
			<div class="thurs">Thursday</div>
			<div class="fri">Friday</div>
			<div class="sat">Saturday</div>

			<div class="mobile-sun">S</div>
			<div class="mobile-mon">M</div>
			<div class="mobile-tues">T</div>
			<div class="mobile-wed"> W</div>
			<div class="mobile-thurs">T</div>
			<div class="mobile-fri">F</div>
			<div class="mobile-sat">S</div>







<!-- Empty CSS Grid Row 2 -->
	<!-- 		<div class="row-2"><br></div> -->


			<div class="box1"><p>1</p></div>

			<div class="box2"><p>2</p></div>

			<div class="box3"><p>3</p></div>

			<div class="box4"><p>4</p></div>

			<div class="box5"><p>5</p></div>

			<div class="box6"><p>6</p></div>

			<div class="box7"><p>7</p></div>
				


			<div class="box8"><p>8</p></div>

			<div class="box9"><p>9</p></div>

			<div class="box10"><p>10</p></div>

			<div class="box11"><p>11</p></div>

			<div class="box12"><p>12</p></div>

			<div class="box13"><p>13</p></div>

			<div class="box14"><p>14</p></div>

	


			<div class="box15"><p>15</p></div>

			<div class="box16"><p>16</p></div>

			<div class="box17"><p>17</p></div>

			<div class="box18"><p>18</p></div>



			<div class="box19">
				<p>
					<a class="btn btn--primary btn-demo js-tingle-cal19">19</a>
				</p>
			</div>



			<div class="box20"><p>20</p></div>

			<div class="box21"><p>21</p></div>

			<div class="box22"><p>22</p></div>






		<div class="box23">
				<p>
					<a class="btn btn--primary btn-demo js-tingle-cal23">23</a>
				</p>
			</div>






			<div class="box24"><p>24</p></div>

			<div class="box25"><p>25</p></div>

			<div class="box26"><p>26</p></div>

			<div class="box27"><p>27</p></div>

			<div class="box28"><p>28</p></div>

	

			<div class="box29"><p>29</p></div>

			<div class="box30"><p>30</p></div>

			<div class="box31"><p>31</p></div>

		</div>

	</div>
</body>
</html>

<script>
	// Julius Summer Beach event on the May 31st

    var modalTinyNoFooter = new tingle.modal({
        onClose: function() {
            console.log('close');
        },
        onOpen: function() {
            console.log('open');
        },
        beforeOpen: function() {
            console.log('before open');
        },
        beforeClose: function() {
            console.log('before close');
            return true;
        },
        cssClass: ['class1', 'class2']
    });
    var btn = document.querySelector('.js-tingle-cal19');
    btn.addEventListener('click', function(){
        modalTinyNoFooter.open();
    });
    modalTinyNoFooter.setContent(document.querySelector('.tingle-cal').innerHTML);




// Julius Mattachine Event on May 23rd

   var modalTinyNoFooter1 = new tingle.modal({
        onClose: function() {
            console.log('close');
        },
        onOpen: function() {
            console.log('open');
        },
        beforeOpen: function() {
            console.log('before open');
        },
        beforeClose: function() {
            console.log('before close');
            return true;
        },
        cssClass: ['class1', 'class2']
    });
    var btn = document.querySelector('.js-tingle-cal23');
    btn.addEventListener('click', function(){
        modalTinyNoFooter1.open();
    });
    modalTinyNoFooter1.setContent(document.querySelector('.tingle-cal-mattachine').innerHTML);



</script>

<!-- 
<img class="mattachine-modal" src="" alt=""> -->


