<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<title>Calendar 3</title>
	<h1>Calendar Three</h1>
</head>
<body>

	<img class="image-header" src="https://lh3.googleusercontent.com/agJNVyc_WO3aAra3qS3XpuHm1T2pmhZDtEFZQ_VW4mvktv_EUFR_VWrQHuidPws6dMtY3zFe_rufSuQK5tw1rlgBfEgFFo8RF7AD8z_uekreAbl5UK_y6Ry2F03WM3Y9suE726bANg" alt="bh-divider" alt="">


	<div class="wrap">

		<div class="container">

			<div class="header">JUNE 2018 CALENDAR</div>

			<div class="date">DATE</div>
			<div class="event">EVENT</div>
			<div class="time">TIME</div>


<!-- First Event -->
			<div class="event-1-date">Sunday, June 24th</div>
			<div class="event-1-event">NYC Gay Pride</div>
			<div class="event-1-time">All Day</div>

<!-- Second Event -->
			<div class="event-2-date">Thursday, June 28th</div>
			<div class="event-2-event">Mattachine Party</div>
			<div class="event-2-time">10pm - 4am</div>
			
		</div>
	</div>

<br>
<!-- Footer Images -->
		<div class="footer-images">

			<img src="https://lh3.googleusercontent.com/CwadBZo46wiJOQ2c-_1_KiC_iV83OrXV_hCgsnYYskoeJknsA6V1wAtF3_0jJayKbigSIo_b-ey_aSa2jssKkdubIrTTAWiyDjnN-HHOTAAqXz8tAwqq6Xg5nCTgUJPN_vXCQDW0dA=w2400" alt="">


			<img src="https://lh3.googleusercontent.com/fluHFcJiz-SinKJxakhZ0RUefWe9Cn3vUxiBDV9FQQY_OoNiPPBTu37L046FL0Y2gPS7gzz8QYtWQD27nNHj_BTCZ424cgT6jFRDiP4Ild04FcxnqSndDMq8v9E2ZubhggSm2rYHhg=w2400" alt="">

	

			<img src="https://lh3.googleusercontent.com/hDSvIwNTVVTHuyquoBPMlYMR7Q8E5HEEL6CFtCMfI0aXBdCavYSF_VVps4cXyNE6_GDSSTiHpC4xZC2deMkupDMwPXgIiIZ_A-RbaXc_1ll_VLRLern3EeyShWTprv9xMvGdTrWjfA=w2400" alt="">

			<img src="https://lh3.googleusercontent.com/9vrXCYx4OXATF4sv8olDNYD7t0Xt7A-ASTI-ulkZ7tw1G3eoY2eoDj0I0Zz403lNpNw5n6A4YED_ji2mBv3Txy6XuEhhLUPnRAEuqpnW-kaQB0AuwfUIJQa66MfMyw2B9jrxVDUSRg=w2400" alt="">
		</div>


		<div class="mobile-footer">
			<img src="https://lh3.googleusercontent.com/9vrXCYx4OXATF4sv8olDNYD7t0Xt7A-ASTI-ulkZ7tw1G3eoY2eoDj0I0Zz403lNpNw5n6A4YED_ji2mBv3Txy6XuEhhLUPnRAEuqpnW-kaQB0AuwfUIJQa66MfMyw2B9jrxVDUSRg=w2400" alt="">
		</div>

</body>
</html>


<style>

	body {
		background-color:black;
		/*color:blue;*/
		font-family: sans-serif;
	}

/*	.header {
		border:solid red 3px;
		background-color:green;
		color:white;
		font-size:16px;
	}*/

	.image-header {
		position:relative;
		top:50px;
		left:42%;
		width:15%;
		height:auto;
		z-index:1;
		border-radius:2px;
	}



	.wrap {
		/*position:relative;
		top:30px;*/
		margin-top:20px;
	}


	.container {
		display:grid;
		grid-template-rows:repeat(6, 1fr);
		grid-template-columns:repeat(3, 1fr);
		/*border:solid green 1px;*/
		/*box-shadow: 0 0 5px green;*/
		box-shadow: 0 0 20px darkgreen;
		max-width:700px;
		/*bottom-margin:20px;*/
		/*box-shadow: 0 0 12px red;*/

	}

	.header {
		background-color:green;
		font-color:white;
		grid-row:2;
		grid-column:1/4;
		margin-top:20px;
		padding:3px;
		text-align:center;
		font-size:16px;
		font-weight:900;
		border:solid gray 1px;
		text-shadow: 0 0 5px gray;
	}

	.date {
		grid-row:3;
		grid-column:1/2;
		text-align:center;
		color:green;
		font-size:16px;
		margin-top:10px;
		font-weight:bold;

	}

	.event {
		grid-row:3;
		grid-column:2/3;
		text-align:center;
		color:green;
		font-size:16px;
		margin-top:10px;
		font-weight:bold;
	}

	.time {
		grid-row:3;
		grid-column:3/4;
		text-align:center;
		color:green;
		font-size:16px;
		margin-top:10px;
		font-weight:bold;

	}



/*	.date-event-time {
		grid-row:3;
		grid-column:1/4;
		margin-top:20px;
		background-color:black;
		color:white;
		font-size:16px;
		word-spacing:200px;
		text-align:center;
	}*/

/* First Event */
	.event-1-date {
		grid-row:4;
		grid-column:1/2;
		text-align:center;
		color:white;
		font-size:16px;
	}

	.event-1-event {
		grid-row:4;
		grid-column:2/3;
		text-align:center;
		color:white;
		font-size:16px;

	}

	.event-1-time {
		grid-row:4;
		grid-column:3/4;
		text-align:center;
		color:white;
		font-size:16px;
	}

	/* Second Event */
	.event-2-date {
		grid-row:5;
		grid-column:1/2;
		text-align:center;
		color:white;
		font-size:16px;
	}

	.event-2-event {
		grid-row:5;
		grid-column:2/3;
		text-align:center;
		color:white;
		font-size:16px;

	}

	.event-2-time {
		grid-row:5;
		grid-column:3/4;
		text-align:center;
		color:white;
		font-size:16px;
	}



	/*Footer Images*/

	.footer-images {
		text-align: center;
		margin-top:40px;
		/*border-top:solid green 1px;*/
		/*border-bottom:solid green 1px;*/
		/*border:solid green 1px;*/
		/*overflow-y: scroll;*/
	}

	.footer-images img {
		margin-left:auto;
		margin-right:auto;
		width:200px;
		/*max-width:25%;*/
		height:auto;
		


	}

	.mobile-footer {
		display:none;
	}


@media only screen and (max-width: 810px) {

	.image-header {
		top:40px;
	}

	/* First Event */
	.event-1-date {
	/*	grid-row:4;
		grid-column:1/2;
		text-align:center;
		color:white;*/
		font-size:14px;
	}

	.event-1-event {
/*		grid-row:4;
		grid-column:2/3;
		text-align:center;
		color:white;*/
		font-size:14px;

	}

	.event-1-time {
/*		grid-row:4;
		grid-column:3/4;
		text-align:center;
		color:white;*/
		font-size:14px;
	}

	/* Second Event */
	.event-2-date {
/*		grid-row:5;
		grid-column:1/2;
		text-align:center;
		color:white;*/
		font-size:14px;
	}

	.event-2-event {
/*		grid-row:5;
		grid-column:2/3;
		text-align:center;
		color:white;*/
		font-size:14px;

	}

	.event-2-time {
/*		grid-row:5;
		grid-column:3/4;
		text-align:center;
		color:white;*/
		font-size:14px;
	}

	.footer-images {
		display:none;
	}

	.mobile-footer {
		display:inline;
		
		/*text-align:center;*/
	}

	.mobile-footer img {
		/*text-align:center;*/
		width:100%;
		/*max-width:675px;*/
		height:auto;
		padding-left:3px;
		padding-right:3px;
		margin-top:11px;
		margin-bottom:100px;
	}


}




</style>



