<html>
<head>
	<meta charset="UTF-8">
	<title>Contact Form</title>
</head>
<body>


<div class="contact-grid">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eveniet ipsum soluta. Laudantium, suscipit obcaecati. Deserunt praesentium fugiat dolore, optio perferendis, ullam cum maxime quaerat beatae nam consequatur quidem alias minus eligendi eum deleniti repudiandae ea id itaque ut illum, inventore necessitatibus. Voluptate nobis optio deserunt neque laboriosam, consequatur quidem.
	</p>
</div>


<%= simple_form_for @user do |f| %>
  <%= f.input :username %>
  <%= f.input :password %>
  <%= f.button :submit %>
<% end %>



	
</body>
</html>