<html>
<head>
	<meta charset="UTF-8">
	<title>Contact Form Design</title>

</head>
<body>

<div class="wrap">
	<div class="container">
		<div>
			<img class="dog-divider" src="https://lh3.googleusercontent.com/agJNVyc_WO3aAra3qS3XpuHm1T2pmhZDtEFZQ_VW4mvktv_EUFR_VWrQHuidPws6dMtY3zFe_rufSuQK5tw1rlgBfEgFFo8RF7AD8z_uekreAbl5UK_y6Ry2F03WM3Y9suE726bANg" alt="bh-divider">
		</div><br>


			<p>
				Are you interested in learning more about what we have to offer you? We are more than happy to provide additional information about our bar. For more information, or any questions you have, contact us through the form below. <br><br>

				Please be sure to include your name, email, phone, and the specific question. You will receive a confirmation after submitting the form, and we will respond as quickly as possible for your satisfaction. <br><br>

				Phone:
				(877) 746-0528 <br><br>

				Email:
				info@juliusbarny.com <br><br>
 
 
				We look forward to hearing from you. Contact us by phone, email, or the form below today!
			</p>

		<div class="contact-form">
			<form id="contact-form" method="post" action="">
				<input name="name"	type="text" class="form-control" placeholder="Your Name" required><br>

				<input name="email"	type="email" class="form-control" placeholder="Your Email" required><br>

				<textarea name="message"  class="form-control" placeholder="Message" rows="4" required></textarea><br>

				<input type="submit" class="form-control submit" value="SEND MESSAGE">
			</form><br>
		</div>


		<div>
			<img class="dog-divider" src="https://lh3.googleusercontent.com/agJNVyc_WO3aAra3qS3XpuHm1T2pmhZDtEFZQ_VW4mvktv_EUFR_VWrQHuidPws6dMtY3zFe_rufSuQK5tw1rlgBfEgFFo8RF7AD8z_uekreAbl5UK_y6Ry2F03WM3Y9suE726bANg" alt="bh-divider">
		</div>
	


			<div class="contact-specials">
				<p>
					Monday-Saturday <br>
					Happy Hour Specials 4pm to 9pm!!
				</p><br>

				<p>
					Sunday Beer Blast!! <br>
					All Bottled and Tap Beers $2.00 Off Regular Price!!
				</p><br>

				<p>
					All Day Everyday!! <br>

					$6.00 Long Island Ice tea!! All Day! Everyday Drink Special!!
				</p><br>

				<p>Hours of Operation
					Monday–Saturday,
					11:00 a.m.–4:00 a.m.
					Sunday,
					12:00 p.m.–3:00 a.m. <br><br>

					Located on 10th Street and Waverly. At Penn Station,
					Take the #1 Train to Christopher Street, the #2 or #3 Train to 14th Street
					or the A, C, E, B, D, or F Train to West 4th Street!
				</p><br><br><br><br><br>

			</div> 


<!-- Google Maps API Static Map -->

		<!--  	<div class="static-map">
				<img src="https://maps.googleapis.com/maps/api/staticmap?center=159+West+10th,New+York,NY+10014&
				zoom=13&
				size=600x400&
				scale=1&
				maptype=roadmap&
				markers=color:red%7Clabel:Julius%7C40.734533,-74.001712&
				key=AIzaSyCsVl2od2dAPZwKct5rYCihuPhThoTqdtA" alt="location"> 
			</div><br><br><br><br>  -->

<!-- Google Maps Embedded. Needs different API key. -->

		<div>
			<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJURY2PJRZwokR7izijNRaHa8&key=AIzaSyAAS-pA-TcqTK88K4vqnGh8oYqZuhr5I8E" allowfullscreen></iframe>
		</div><br><br><br><br><br><br>

	</div>
</div>
	
</body>

</html>

<style>
	
	h1, h2 {
		color: orange;
	}

	.dog-divider {
		width: 100px;
		margin: 2px;
		padding: 2px;
	}

	body {
		background-color:black;
		text-align: center;
		/*background: linear-gradient(90deg,rgba(0, 75, 150, 0.5),rgba(0, 75, 50, 0.5)),url(/assets/b.jpg);*/
		background-size: cover;
		background-position: center;
		font-family: sans-serif;
	}

	.wrap {
		display: grid;
		grid-template-columns: 1fr;

	}

	.container {
		/*border: solid green 2px;*/
		position: relative;
		top: 100px;
		/*padding: 30px;*/
		/*-ms-grid-column: 2/3;*/
		/*grid-column: 2/3;*/

	}



	form {
		margin-top: 50px;
		transition: all 4s ease-in-out;
		/*float: center;*/
		position: relative;
		left: 30px;

	}

	.form-control {
		width: 90%;
		text-align: center;
		/*background: transparent;*/
		background-color:white;
		border: none;
		outline: none;
		border-bottom: 1px solid gray;
		/*color: #fff;*/
		color: green;
		font-size: 18px;
		margin-bottom: 14px;
	}

	.submit {
		background-color: green;
		border-color: transparent;
		color: black;
		font-weight: 900;
		letter-spacing: 2px;
	}

	.container p {
		font-size: 16px;
		color: white;
	}




	.contact-specials {
		/*border: solid green 2px;*/
		/*grid-column:1/2;*/
		position: relative;
		top: 20px;
		/*margin: 2px;*/
		padding: 2px;
		color: white;
		font-size: 16px;
		
	}


	.static-map {
		position: relative;
		text-align: center;
	
	}

</style>





