<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Gallery 2</title>
	<script src="/assets/gallery2.js"></script>
	<link rel="stylesheet" href="/assets/gallery2.css.scss">
</head>
<body>
	<div class="gallery-wrap">
		<div class="gallery-container">

			<div>
				<img name="slide" width="300" height="300">
			</div>

			<!-- <div>
				<img name="slide1" width="300" height="300">
			</div> -->

		</div>
	</div>
</body>


</html>



