<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Modern Gallery 3</title>
	<link rel="stylesheet" href="/assets/gallery3.css.scss">
	<script type="text/javascript" src="/assets/gallery3.js"></script>
	
</head>
<body>

<div class="bg-for-all">


<br><br><br><br><br>
<div class="wrap">
	<div class="container">

			<img class="main-img" src="https://lh3.googleusercontent.com/_hvfXfO5YIeBnSaOvt4olndxiWwq8Jviq5f2qIl75P5A5V6OTGr1lemyAxXfW2zBQk2YiPYl5Os8Glf5AaZvNS-YaRpweBQnXMTN57YWSWdOmvVODBCjpf-RL2_dz8eRVaMYTitf0A=w2400" alt="10" id="current">


		<div class="imgs">
<!-- Mattachine Covers -->
			<img class="testImage" src="../../assets/gallery/img1.png" alt="1">


			<img class="testImage" src="../../assets/gallery/img2.png" alt="2">
		
			<img class="testImage" src="../../assets/gallery/img3.png" alt="3">

			<img class="testImage" src="../../assets/gallery/img4.png" alt="4">

			<img class="testImage" src="../../assets/gallery/img5.png" alt="5">
		
<!-- ************************* -->
			<!-- Next Button -->
			<!-- <a id="arrow-right" href="#"><p>NEXT</p></a> -->

			
			<img class="testImage" src="../../assets/gallery/img6.png" alt="6">

			<img class="testImage" src="../../assets/gallery/img7.png" alt="7">

			<img class="testImage" src="../../assets/gallery/img8.png" alt="8">

			<img class="testImage" src="../../assets/gallery/img9.png" alt="9">

			<img class="testImage" src="../../assets/gallery/img10.png" alt="10">

			<img class="testImage" src="../../assets/gallery/img11.png" alt="11">

			<img class="testImage" src="../../assets/gallery/img12.png" alt="12">

			<!-- Halloween Pictures -->

			<img class="testImage" src="../../assets/gallery/img13.png" alt="13">

			<img class="testImage" src="../../assets/gallery/img14.png" alt="14">

			<img class="testImage" src="../../assets/gallery/img15.png" alt="15">

			<img class="testImage" src="../../assets/gallery/img16.png" alt="16">

			<img class="testImage" src="../../assets/gallery/img17.png" alt="17">

			<img class="testImage" src="../../assets/gallery/img18.png" alt="18">

			<!-- <img class="testImage" src="../../assets/gallery/img19.png" alt="19"> -->

			<!-- <img class="testImage" src="../../assets/gallery/img20.png" alt="20"> -->

			<img class="testImage" src="../../assets/gallery/img21.png" alt="21">

			<img class="testImage" src="../../assets/gallery/img22.png" alt="22">

			<img class="testImage" src="../../assets/gallery/img23.png" alt="23">
<!-- 
			<img class="testImage" src="../../assets/gallery/img24.png" alt="24"> -->

			<img class="testImage" src="../../assets/gallery/img25.png" alt="25">

			<img class="testImage" src="../../assets/gallery/img26.png" alt="26">

			<img class="testImage" src="../../assets/gallery/img27.png" alt="27">

			<img class="testImage" src="../../assets/gallery/img28.png" alt="28

			<img class="testImage" src="../../assets/gallery/img29.png" alt="29">

			<img class="testImage" src="../../assets/gallery/img30.png" alt="30">

			<img class="testImage" src="../../assets/gallery/img31.png" alt="31">

			<img class="testImage" src="../../assets/gallery/img32.png" alt="32">

			<img class="testImage" src="../../assets/gallery/img33.png" alt="33">

			<img class="testImage" src="../../assets/gallery/img34.png" alt="34">

			<img class="testImage" src="../../assets/gallery/img35.png" alt="35">

			<img class="testImage" src="../../assets/gallery/img36.png" alt="36">

			<img class="testImage" src="../../assets/gallery/img37.png" alt="37">

			<img class="testImage" src="../../assets/gallery/img38.png" alt="38">

			<img class="testImage" src="../../assets/gallery/img39.png" alt="39">

			<img class="testImage" src="../../assets/gallery/img40.png" alt="40">

			<img class="testImage" src="../../assets/gallery/img41.png" alt="41">

			<img class="testImage" src="../../assets/gallery/img42.png" alt="42">

			<img class="testImage" src="../../assets/gallery/img43.png" alt="43">

			<img class="testImage" src="../../assets/gallery/img44.png" alt="44">

			<img class="testImage" src="../../assets/gallery/img45.png" alt="45">

			<img class="testImage" src="../../assets/gallery/img46.png" alt="46">

			<img class="testImage" src="../../assets/gallery/img47.png" alt="47">

			<img class="testImage" src="../../assets/gallery/img48.png" alt="48">

			<img class="testImage" src="../../assets/gallery/img49.png" alt="49">

			<!-- <img class="testImage" src="../../assets/gallery/img50.png" alt="50"> -->
		
		</div>
	</div>
</div>
</div>
</body>
</html>




<!-- 
<script>

	// Example of ES6 Destructuring. This can be used instead of line 41 and 42. Saves 1 line of code. 
	const [current, imgs] = [document.querySelector('#current'), document.querySelectorAll('.imgs img') ];

	// const current = document.querySelector('#current');
	// const imgs = document.querySelectorAll('.imgs img');

	imgs.forEach(img => img.addEventListener('click', e => (current.src = e.target.src)));
	
</script> -->

