<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Modern Gallery 3</title>
	<link rel="stylesheet" href="/assets/gallery3.css.scss">
	<script type="text/javascript" src="/assets/gallery3.js"></script>
	
</head>
<body>



<div class="bg-for-all">


<br><br><br><br><br>
	<div class="container">
		<div class="main-img">
			<!-- <img src="/assets/img1.jpg" id="current"> -->
			<img class="actualMainImage" src="https://lh3.googleusercontent.com/dwD37MZ06EGoPY5V-wFxCq2Eact53gx4OewyuB7AMpal8qPuYwpZkWtS2azNOFynredmjuYyBMREe9uljbPtjpckdP5363EpDYr5jflgndCVrduQQbpYOgP3kEoZT4pfxjpVIjOH_Q=w2400" alt="1" id="current">
		</div>

<!-- Image Buttons -->

	<!-- <div id="prev-button"><p>PREV</p></div>
	<div id="next-button"><p>NEXT</p></div> -->

		<div class="imgs">

	<a id="prev-button" href="javascript:void(0);"><div><p>PREV</p></div></a>

<!-- Mattachine Covers -->


		
			<img class="testImage" src="https://lh3.googleusercontent.com/dwD37MZ06EGoPY5V-wFxCq2Eact53gx4OewyuB7AMpal8qPuYwpZkWtS2azNOFynredmjuYyBMREe9uljbPtjpckdP5363EpDYr5jflgndCVrduQQbpYOgP3kEoZT4pfxjpVIjOH_Q=w2400" alt="1">
		
		
			<img class="testImage" src="https://lh3.googleusercontent.com/ArOumf0W_OGG7Mo_7SuHhtutNc4JLm7N_Ce0By3ndOMgBbjabl8R5A6W2lOVwYfBqj3Kv5gp0wl7dYbhrKeemuWFxA4jkNDbjzaq_rMtnnY6y_QCxZB0BrGrjmlXaU0C5BM0bJ2BTQ=w2400" alt="2">
		
		
			<img class="testImage" src="https://lh3.googleusercontent.com/B7n-6atkDoc1F7cAwAG0BMIFTme1j-GAsmmbXBYOqXPYidn4qoYnLXQ9tlqCQygi-9HsUyalubcsEelSZ4FnKqKF_9MmER9uaW-2C-xVzWUwZNFBeaPm02zMexWQ5QWhUKxUi6zZYQ=w2400" alt="3">
		

			<img class="testImage" src="https://lh3.googleusercontent.com/DYEhJbGlUEa2XsO1cfpqMPwap1UgHizKtyFIquBhaU2niqTBKQZPBspHf5p9zsyhmW423bnSgTkZs08KxaVuGktgz67dnJI0nMEN0aJsL4AjXvTTNDUtxYtf5KGo_L8U_m5cQv4Ajg=w2400" alt="4">

			<img class="testImage" src="https://lh3.googleusercontent.com/ACUE4S4iWu2p-6msfuQWmGvogx-xGdj-trJ6d1uSZD1Z94i2T1KkeiYM3JFCiU36R5elB5ShfeAD0iyKctdpUCsmPjzs2Wdo4dhNJJPxP7XEkdYxgVotpXkWcmdewvNP5aUJOYL0VA=w2400" alt="5">

			<!-- Next Button -->
			<a id="next-button" href="javascript:void(0);"><div><p>NEXT</p></div></a>

	

			<img src="https://lh3.googleusercontent.com/Uj4agP3-XGL9hRwgmyX3kHm83PgyAGp_LNMmAriKXgfgOHA9Z4X4V7r-TBb4OkxROv8Mxmouj-YVCM5IvGVBIYOPNAYW1PLSrrazyntoz6exxFs7b9ZiV-5im43a2INRzZYViYU7NQ=w2400" alt="6">

			<img src="https://lh3.googleusercontent.com/SadQyfF0LhkdbdRbaG9871FxtbBgpm9nfLiyIxIBsAu7wLnCR37o8QHaqvV8QVgkSiI0XM-F0UDR7vl_zZ9fXglLYt8gZsvzaiHiuPs5vNKHZP5qhWKb_YRcGNTMdQHEBWruohvFmw=w2400" alt="7">

			<img src="https://lh3.googleusercontent.com/IVyRWTPOAlFg5rCMqW7VgGCBSC3vOguxhNSCxx1qCo9ArNsMvRp_UNDdcneEMRt_o1ORWe3Rue5nX5-HTDc9bXVtiT8xPIhsUiHxQRIxiwsF9utD522z6K_swd9D4AlHX62X5y9D2Q=w2400" alt="8">

			<img src="https://lh3.googleusercontent.com/W8YyXOU6w5vmnUWclG3LyPEmS_jM6W2ao8RIrKb9rshaHm_U490qqO8wUnwVWQVXYc7lmuNLezcuRLh-PBuW13-pRsXKDsBXBxrS9s6M6MKVBTMXGii6kyWh3sQzAyOfvj4jsdIZlA=w2400" alt="9">

			<img src="https://lh3.googleusercontent.com/_hvfXfO5YIeBnSaOvt4olndxiWwq8Jviq5f2qIl75P5A5V6OTGr1lemyAxXfW2zBQk2YiPYl5Os8Glf5AaZvNS-YaRpweBQnXMTN57YWSWdOmvVODBCjpf-RL2_dz8eRVaMYTitf0A=w2400" alt="10">

			<img src="https://lh3.googleusercontent.com/MpX4R7VdiViO8EHj--5tMwfrpmlZpsMtWtuarnW86yA216HcUGjA8Lny-aNhyk4Ql1kaFox2Mtbs1KlFiBZUcf7MGSDnDvFib0k2zfILkCfoQwnaiml6Hgr4AeMZy53yBHPLjznI8w=w2400" alt="11">

			<img src="https://lh3.googleusercontent.com/pfNQWPJA2E_6ulFAFeImhhfnhyOtvkzRnSW8jG4FfTE0d5NIhMWL1T5njxWHt142Sh2bX_7asItCXoD6OxVIWdLACJV_kaFW2T_RogRAUTpyj36AIzlRfhksxeF_cj0Hf9DvTKFO_w=w2400" alt="12">



			<!-- Halloween Pictures -->

			<img src="https://lh3.googleusercontent.com/18LAwvsnaJm9z1-hGJrHonQx_eK1pQHupN6fr5ti1ZYLOgB8VP3tUhb4hKhiLbQk-17c5AIG1MtMh2jgquJ4Hc1Dd6SRHKVIIo51-A5iVrctEB1GQY77HLMeI-7M4qtTrDdDFw3H6w=w2400" alt="13">

			<img src="https://lh3.googleusercontent.com/0oQzgaB5QaC6gj9vfaf8LcmxyC3WPByGs7i7LQp8JX_xBfOaSqytMlwkw0FogYu9WCnv0p5CsjYFGiVKR1vkxSFLJ4qYfimaHlTb1wkd3DMqrWKRFVSC9qpa4iblBqCNCSWcNVp3wQ=w2400" alt="14">

			<img src="https://lh3.googleusercontent.com/sTStylzRUb6iEZv5BJS_P4KpKL-a3A87M2By6BPc4-ISeHQHT-UtGCKhezKixPaknXFRFPF28yirifvVLs9piD2KqeiS13gK70w6Y7wSG6YAaCHecoBxxwkaMHbLgle4bI5JI6WxrA=w2400" alt="15">

			<img src="https://lh3.googleusercontent.com/_FpAuAwbgo-LlbckKTrAvXfvACwNZe2Nrz3YQEnwzfpM71iNI5Bj19nzfCgKqU0OAo4BuBsN2gy-o6JoKlEdMgdrfukSf1fVwIEPlrADsI1E7oMbhTHtLX5VAOle4TfZkL7d3uPjEw=w2400" alt="16">

			<img src="https://lh3.googleusercontent.com/ilfdZWPbuTTBbvI-58arUvNxZXphtki0lyVBV0xXd1Ue2PH1R6Lbdp5Z8Rz3Ag5hl-dLYZCsrm-RzJ7gTmnnz2IxogtnS5GMJnnQCT4lNv0iCHkFub62CkX-5PWeq6nTaT3pyWKFMA=w2400" alt="17">

			<img src="https://lh3.googleusercontent.com/CPog2HBpn7XXFU24bJwb2R1kHW4RNrIrDfQsoS_UbhmFAjEhHwXFBzHz8AFcjpRnp_P6kPK8htQVggpa4nqfCXxpEwq8gHl-Z6E4TA2vRJEimZ_5IzWRKflu60uNVXSXLHyaknGTWA=w2400" alt="18">

			<img src="https://lh3.googleusercontent.com/8dlu5isNbz4V-WeawevLzeXQmTg7ESuIDDfhJR9LKzEwD7mzxdmPsBXCVzIzVuaVbtJw00Ra2UXQNs6zXC453dnB2RoYDDkCNjjfoxCC_rxDCcTpm9sTLllgVGdN4-lBOuFClsRShA=w2400" alt="19">

			<img src="https://lh3.googleusercontent.com/yvoMpiaV_wSMxcv5WMCZ1upeJWsTesJ0rASXWijFSG1snmr4aINWnNXzEOp_1rOKo6blwnKOrGTKqUPuijYNS18ANrMkRS_16ZcFgZPR3A3FON2DEvHDwlUE5AdW6Du3bZR89kd8Vw=w2400" alt="20">

			<img src="https://lh3.googleusercontent.com/HFzzpdT62w9-nLOxsHM4azUYuQ3OrfRyYbXhIlAFmtFtJmFSlUw1MUlM0ZaU598g7HdGMAv1EwpbqV_4Geq-eFwUdyiOiteD3AFj-NH4bP7rGqt5evwscoPj0z0Iy8TExaZ3RrNAfg=w2400" alt="21">

			<img src="https://lh3.googleusercontent.com/LH-cXe3czCeRj_52KGJHzZMpygln2ZEOAzRbxrLbupqdSpgVjacGRY6yFpMUqdIAljhZ18KNWDrVs2J6JmgVTEGQtG5WwOj7IQGO8O9z5p7_VqeZltBBWx243P51YAjgjpdn4hUHEw=w2400" alt="22">

			<img src="https://lh3.googleusercontent.com/Frnv789d66o1PyTkDF2sqLxNV_U0ITLAdVVk_9ETenKw2c2nadgJWWpjDUIaQcucsx-cg6MMzXVK8hho-rEaFoP6mG94rm3fBTdaJl1xjVJqUsMNyvWTvcCssoY-V-hk9IdyCXHg8g=w2400" alt="23">

			<img src="https://lh3.googleusercontent.com/amLwEp2-PutkMxCdMEzhi_zmcHmb5m-4xynDSafIWxzwzWiwouCZ43f1ppX9PFeEPoi79JPyGZDaSvoaaeKYdtcUn4y6YqKu5gMBFiS4Z6jhaA1fq9eCn5sRNJMsGTLkw6qJD7sWzg=w2400" alt="24">


			<!--  Night Life Pictures -->

			<img src="https://lh3.googleusercontent.com/XGt27zC4I9vwMCKiKKyPeCWMpyWevQ7GC5TXNVnryRVNdylsMqjvQ6hULd9G0tjdlyu4YsXLGlBrosVDX5NaoTkWyc2--2bbo2W9lPqb8FHeJfOgQ6ngssIAORvy1PL0TZQvyJaXgA=w2400" alt="25">
			<img src="https://lh3.googleusercontent.com/lz1aU3AxP46PUOVGrtVmB9A1zbydsu7EhCKueO4q47khRTaLTMmuR2VO0KV1Il1sXOaDiPNRZ5aOkaN4_KD8b-i1aH520vx_pS5B9cwZFXcfUF45YBNctcp7qcYTqQ5dGMdq5L_kjg=w2400" alt="26">
			<img src="https://lh3.googleusercontent.com/prGy3w5meFlKhhzz70sSiy5tTdiaHtkSAzrD1BBzQATwoqw1gbLSZTmOoUOL7MlFIUjHFFOMq8-GildxytkwJ5ZPcjqzBlNFIabLmVM0eeu2-aOCiBZwZVy5QK6mhgojPvctX6OWSw=w2400" alt="27">
			<img src="https://lh3.googleusercontent.com/L74r3PBnBnGSM3s7C-60A9Twg2OO-4110dqGYdp_4h8JgKrcB4eNSGdbHBQ22lY46xx4cUU8ph5y2GpfZWie9vCUc0sdTNvHpd6KP5Sub3ttiBFlI58CK1iN-weChnLeSDFxOS7sHw=w2400" alt="28">
			<img src="https://lh3.googleusercontent.com/epYkHM1h563ssK2OgHiyrNhejx7dqing7k1xor052Bdq9tAYOJaz5II4x7QdVMkgt8jpCt5KErtTUybuGS2lJZKqvjszP7DB_tb2IJtYvgEXm0Lha_ErIlyEHjTfpJilR8m9mLSrBA=w2400" alt="29">
			<img src="https://lh3.googleusercontent.com/wGArCcDilLqliOvtJfIALv1Bj5akDI05mIGfUyHrfqxFf_JqSupKoPJ_L0v5ChrT1JRLSl4wtGeD_3ew7SFQCR6OZHW5RImXjK8gWEWawrL62fqHoCylIRffODnSj6Rrk9CL3Aa1ug=w2400" alt="30">
			<img src="https://lh3.googleusercontent.com/bgfmstD2V0KNNofLRJqe3YceGYH-fcAtt2NlC9SE9v7MSVAf-0JsZAVcBQFIz9sMyI2X5D_1PVgkTqWtAmDgCGjRCHrFn9nsx1HRHr6gfLNDcgBsu9IOVhSEDhGES2htDCzvZLpf2Q=w2400" alt="31">
			<img src="https://lh3.googleusercontent.com/XO8JhMQMi1SVtEh7TSBBB5moeHCG46ZwhDjXOcCaYT6ot1QYyEgIl_dR1BJj0OkQgzwelCuw_07vFKevW_RLFEhewSTCFT8bj3KI7ckdBwV0-2TItxcf0KpbGsNxFExwhfagCwxn-g=w2400" alt="32">
			<img src="https://lh3.googleusercontent.com/yU-HGdAX3_aKe4Eb_QECY51B9rwNAgjyYWAtPG1dzBiyWVMoB1yEEPIDk29uPWGN904l3jTvfw3_viE4lDGnO-NmN8fxH12NK2leCLwK-AESh6HHG6okKv85PP_fTXJH8ZwLQMocQQ=w2400" alt="33">
			<img src="https://lh3.googleusercontent.com/FRhpwy1GhbIJSSVIhhQ9GXrkTroOGoC6UMB-Rlpv--bNEif-gcg1am_Dvso4N8vrmKL4Kxh6TW3oxMPA_anQejIj6N2PKMwqm2Jkjpit4m32T1h1zFtB24xNDIi9ke6yO8sRMOR8zw=w2400" alt="34">
			<img src="https://lh3.googleusercontent.com/zyQ2WM6dKvaiz9qILf0LsQYxfFTDAsdB5o4prN4KwWAxqMETo98Bh_6yt7kVGF6A5kfJshIiLW_Jc2JXuQY7ipO5uh8OUaPDZqLT9kJEeua6fppAqwn7BucbFkHDqE5ZjJWd3h79tg=w2400" alt="35">
			<img src="https://lh3.googleusercontent.com/ZB6UOp6fHm0-xcGqG97-r8RfHQM4NYIRuRK2f3QxXd8AMmrw0StwLU0yIgIZNsJdodb3KfIu70v_ZPQd3IqWAUjLmQ91EaPwxpXKwD5nvmoaeOHzWs9iD1TqRwTTq4rkDTfWNkSe4Q=w2400" alt="36">
			<img src="https://lh3.googleusercontent.com/MUppgPTx5i9HrJzosqK86a7KqHwYrGAGrPgmp6j38t5AbCsCRsKwqrlkTWiSxH-XilpdcWXDvPWaqoKrch2QYedZJE6a9ywyvtzeTBFM4Lt8sVJk0CantJjBWP4aNodaxXgi4u_5UA=w2400" alt="37">
			<img src="https://lh3.googleusercontent.com/9mAUg5V7H7vLNiS9ksrmHrQE0wVMpWhijX9vd7D-i56KUDm9mi0IQbX2iSlGYkt_if1wzWqJNJZGZGEUMb2Wrn0rpZ3HafS0mXyVbca6Vdto4LSjqUP6pT35V2IpmztjZonlBIR-rQ=w2400" alt="38">
			<img src="https://lh3.googleusercontent.com/jYgZUkFY5ssI0V5cMbB0ectYJLNzbwlG1Ju4ua0agaoTlkh161Cs85Slu43gpwSDl9_mnFJ68GpJEKss2m2P-ZicU-j3-7xlG-JwLX-ZFnog5-DMHGm5nOMDlknC1mkvNFuYEilefg=w2400" alt="39">
			<img src="https://lh3.googleusercontent.com/Hwq6z7xYahbsHdtdXySPAL0bMHmYzkd2PBFG4GkJ44wCA8RvHc-0hROsSTAjY0XVxGzW0xWrFf56vrAd1vxZV8klZb1sKzi6zQjb8YAkYVIgY1GDln4E-eIxwx6bnLefgznlzVBojw=w2400" alt="40">
			<img src="https://lh3.googleusercontent.com/NL16Oce0mAXKIfTLVs2EqWWTMo_lo7A5yL9bFv4gNoqDSWAUfKiuxHR_nno8JZtS55g2d9AwfdRr0WfiHEw7oJTYYiuoPtCuv9QQl6jOyvzm3sVI3tJLI6QHLiwvs6GF0HkYf3bQ_w=w2400" alt="41">
			<img src="https://lh3.googleusercontent.com/dcp1qz_L0g8TTKyO3PRs6rATIuyOkkDEtxq7kNH20uHy3t_6ttqsd4nGK_uEm9G_Ueykfv07IJhZJaHzBVv5Pu8XZVBFc5emDeRtEccosIcKqgXr1cqkxzR003IcVeAbJXPromYf8Q=w2400" alt="42">

			<!-- Gay Wedding -->

			<img src="https://lh3.googleusercontent.com/e9KD7kzt3droCepKPqbUWaYZqJXsHqH5e6blOSObGcxYmbOzir_7z7A5KkntGisHbQmFRCvr2B-ay3wuP64PxiqKUjAJ9HlfXSmEw7a45_7Hn3SBvMVWGFcSrwqMb-NOUOLcJeUc9g=w2400" alt="43">

			<img src="https://lh3.googleusercontent.com/0QeOOW1jUr5yEF_qnIv6wy6xvlj0fqSjufQnadB2Ppx9Cw_zGKF6XQbVUIUa-w1dAjp8Zze2cbnszO0acyLlWgu7kwaPoqjIbiumakiKWdP5_hWoDxqxDQPL-2wh2H3i-f0D160qZw=w2400" alt="44">

			<img src="https://lh3.googleusercontent.com/rRJen7yL1T-1cyMnHTflXGWiabVErdB8HcxMLBMUU2Bg158v-A6q4PWnmE0zPSldqxx5VddBqQL8drun_5I5xGqNiQCy1KdeaOYmS-k2bF0XgScgPM_6pX3NqCyY3kyQdhLNqHtyWg=w2400" alt="45">

			<img src="https://lh3.googleusercontent.com/yToF_13wctOhyE8v84AToLxDXd53_WjKY74KBDfWcQ8aCnWJYtCv64oZvK3BT39ibzPhQ8vWFALXzEfOUf5NJ66oLhSdv-FYnWZxjO2itIa7p9zgP_L2xSZcEKl1zlQ0a0pgfmL91w=w2400" alt="46">

			<img src="https://lh3.googleusercontent.com/WyhgJwz6zDSdLfv0mNvaYykL1ZC8MCEUSh8q43d8Yhqeb9DaGFHZ4fauh0CyxdBI_pX5arpXs5B19e7mV6C8kIIYRYY0dnqGpNxVNQPdEYxOwnZowW-YiCCBF2VRBTLqzWHtgt258Q=w2400" alt="47">

			<img src="https://lh3.googleusercontent.com/cpoH0LAwwJQ7AONWTU5qeNYxZjmC6wsvKWRXBpEjnaBlokOYebPbmM687YjcGrydRz5enA6GAulwlVtk4V6E5OOyGMfna0drda3b-lCutPdHC1GghdgrnWpqrjj5-3KdwMqMFFE_-g=w2400" alt="48">

			<img src="https://lh3.googleusercontent.com/jYbnCpZo7ij1P_OxKOhacK_voHkyRS8GSS7yt61qjUiljdgEFHO-RyLNMNWtnw-Q1rFtGZ17BDd7DI4R3WDpYdbaZNFTP1ObT5OIRXGN9ak5GKON1kv5_9oQ7yNEgzOqP4OZN2JGpA=w2400" alt="49">

			<img src="https://lh3.googleusercontent.com/EoataPp14BUqesxwY-2D7TZtTDlO5mqN-gP8OB-umEcLA1D2V8b6--Hf7s8rhmx8F2RAKq0tMh7a_3L93yymTbXOjkzD4tI1LWvEAkQdCeSwHzAvGA0afzc43K4SgP1P3rL0CdyZVQ=w2400" alt="50">
		
		</div>
	</div>
</div>
</body>
</html>




<!-- 
<script>

	// Example of ES6 Destructuring. This can be used instead of line 41 and 42. Saves 1 line of code. 
	const [current, imgs] = [document.querySelector('#current'), document.querySelectorAll('.imgs img') ];

	// const current = document.querySelector('#current');
	// const imgs = document.querySelectorAll('.imgs img');

	imgs.forEach(img => img.addEventListener('click', e => (current.src = e.target.src)));
	
</script> -->

