<html>
<head>
	<meta charset="UTF-8">
	<title>Landing Page</title>
	<h2>Julius Bar GAY!!!!</h2>
</head>
<body>



<div class="front-page">
	<img src="/assets/oldj.jpg" alt="Old Julius">
</div>
	
</body>
</html>