<html>
<head>
	<meta charset="UTF-8">
	<title>Landing Page</title>
	<h2>Julius Bar GAY!!!!</h2>
</head>
<body>



<div class="front-page">
	<!-- <img src="/assets/oldj.jpg" alt="Old Julius"> -->
	<img src="https://lh3.googleusercontent.com/SjxdBO-n_TVbH0IVg9feYncaAJOvhf2EPIRrOfvCO54pEbVbDsDBO6N5Sr0bTC5OLM7TgdBwbMIu_ABzbp-6xebshK_OpuZQvOPiSoVdOCPPwHTN3Tdt0Z8V_wXcLAfTjl6X3W0wVA" alt="julius">
</div>
	
</body>
</html>