<html>
<head>
	<meta charset="UTF-8">
	<title>Landing Page</title>
	



	<!-- <link rel="stylesheet" type="text/css" href="/../welcome.css.scss"> -->

	<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Marck+Script"> -->

	<!-- <link rel="stylesheet" href="../../..welcome.css.scss"> -->

		
</head>

<body>


<div class="indexWrapper">


	
		<div class="mattachine"><img src="https://lh3.googleusercontent.com/5MYgpuWFTsH-CQlsMb34_4pH8gn6HOKI42S_aIJubWiMpC-l3Z3D1LalMivl9_TiSWq1nEtzSMb35g6xW_aM4vRI7Afe1srhN3fRTlHMAITdZBj_bDQA-MS6D5x3pUq0LRlMRWxIKg" alt="mattachine"><p>Join Julius' for our monthly Mattachine Party Thursday February 1, 2018 @ 10:00 PM!!!</p></div>






		<div class="owlparty"><img src="https://lh3.googleusercontent.com/QPvF0cUD6a5GBHTDRlcJ1JKMH2WAp9FliF0i8Jh42MOeYGw6r5ux0jLH4GmDQW4su1mgMLGog1e1bqfkzFn6He9i653aNnWlbLLwpWm-Yd3uLwDuxGXp9NY0M-_Dw6zlTdWlFUwX_A" alt="owl"><p>Join Julius' for the Owl Party Thursday February 15, 2018 @ 10:00 PM!!!</p></div>


		<div class="bh-dividers"><img src="https://lh3.googleusercontent.com/agJNVyc_WO3aAra3qS3XpuHm1T2pmhZDtEFZQ_VW4mvktv_EUFR_VWrQHuidPws6dMtY3zFe_rufSuQK5tw1rlgBfEgFFo8RF7AD8z_uekreAbl5UK_y6Ry2F03WM3Y9suE726bANg" alt="bh-divider"></div>





	





		<div class="specials">
			<p>Monday-Saturday <br>Happy Hour Specials 4pm to 9pm!!</p>

			<br>

			<p>Sunday Beer Blast!! <br>All Bottled and Tap Beers $2.00 Off Regular Price!!</p>

			<br>

			<p>All Day Everyday!! <br>$6.00 Long Island Ice tea!! All Day! Everyday Drink Special!!<br>
		</div> 




		<div class="hours-of-operation">
	
				<p>Hours of Operation</p>
				Monday–Saturday,
				11:00 a.m.–4:00 a.m.
				Sunday,
				12:00 p.m.–3:00 a.m. <br><br>

				Located on 10th Street and Waverly. At Penn Station,
				Take the #1 Train to Christopher Street, the #2 or #3 Train to 14th Street
				or the A, C, E, B, D, F or V Train to West 4th Street
				<br><br><br><br><br>
		
		</div>



		<div><br><br></div>





</div>





</body>
</html>






	<style>
		.indexWrapper {
			padding:50px;

			display:grid;
			grid-template-columns:1fr;
			/*grid-template-columns:1fr 2fr 1fr;*/
			grid-template-rows:minmax(100px, auto);
			grid-gap:0em;
			justify-items:stretch;
			align-items:stretch;
			background-color:black;
			color: red;
	}

	.indexWrapper > div > img {
		position: relative;
		border-radius: 2%;
		/*background-color:red;*/
		margin: 10px;
		/*padding:20px;*/
		/*min-width:100%;*/
		/*max-width:100%;*/
		height: 70%;
		width: 70%;
	}

	.indexWrapper > div {
		text-align: center;
	}



	.mattachine {
		grid-row:2;
	}

	.mattachine > p {
		padding:2px;
		border:solid green 1px;
		/*border-radius: 2%;*/
		/*font-family: 'Marck Script';*/
		color:white;
		position:relative;
		text-align:center;
		font-size: 22px;
	}

	.owlparty {
		grid-row:3;
	}

	.owlparty > p {
		padding: 2px;
		border:solid green 1px;
		/*border-radius: 50%;*/
		/*font-family: 'Marck Script';*/
		color:white;
		position:relative;
		text-align:center;
		font-size: 22px;
	}




	.specials {
		font-size: 16px;
		color:white;
		text-align: center;
		padding: 20px;
		border: solid green 2px;
		border-radius:2%;
		grid-row:5;
		background-color:black;


    	text-shadow: 12px 12px 2px red,
    		16px 16px 2px orange,
    		19px 19px 2px yellow,
    		22px 22px 2px green,
    		25px 25px 2px blue,
    		28px 28px 2px purple;
    		
	}



.hours-of-operation {
	top: 32px;
	position: relative;
	text-align:center;
	color: white;
	font-size:16px;
	padding: 5px;
	
	grid-row:6;
}

.hours-of-operation > p {
	font-size: 16px;
	margin: 10px;
	background-color: green;
	color: white;
}



	.bh-dividers {
		/*align-self:center;*/
		grid-row:4;
		justify-self:center;

		width:100px;
		/*height: 100px;*/
	}






	</style>
