
<html lang="en">
<head>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">


	<meta charset="UTF-8">
	<title>Julius Landing Page</title>

	<div class="col-md-8 col-md-offset-2">
	<h1>Welcome To Julius</h1>
	</div>

</head>
<body>



<!-- <div class="img-container">
	<img src="https://lh3.googleusercontent.com/VLTYuCJh0z7u4SSKnWN1a5AK5LOHRpn755m_8Nl4SlVWTqaBj7gf3M-wIj__zT1aHwOR3k7ZN5Ld0GlGbu_z6KcATsP2weSNrabSYrnByCyCdocPs5TKlMTgWJ5WXW7-7_dBzOTp2Q" alt="none">
</div> -->




	
</body>
</html>