<html>
<head>
	<meta charset="UTF-8">
	<title>Landing Page</title>
	<link rel="stylesheet" href="/assets/landing.css.scss">

	<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
	<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> -->
</head>

<body>

	<ul class="social-media">
		<li><a href="https://www.facebook.com/juliusbarnyc/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
		<li><a href="https://www.instagram.com/explore/locations/318264/julius-bar/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
		<li><a href="https://twitter.com/JULIUSBARNYC?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
	</ul>




<div class="indexWrapper">

		<div class="mattachine"><img src="https://lh3.googleusercontent.com/YZ2-qn7lb-zBatDsydmW08rpHcwLqrgEAuYNm8wbZOVjHp6YNWKIxP_Q--wXuy3nNFiht5LQUbsspYlBE5AErv6Eas_S-9g_4CCZ8yJbtIz1oqEcrTMjSS7KS-hCCIPGzUZdmwkf4A=w2400"><p>Join Julius' for our monthly Mattachine Party Thursday February 1, 2018 @ 10:00 PM!!!</p></div>

<!-- 		<div class="owlparty"><img src="https://lh3.googleusercontent.com/QPvF0cUD6a5GBHTDRlcJ1JKMH2WAp9FliF0i8Jh42MOeYGw6r5ux0jLH4GmDQW4su1mgMLGog1e1bqfkzFn6He9i653aNnWlbLLwpWm-Yd3uLwDuxGXp9NY0M-_Dw6zlTdWlFUwX_A" alt="owl"><p>Join Julius' for the Owl Party Thursday February 15, 2018 @ 10:00 PM!!!</p></div> -->


<!-- 		<div class="bh-dividers"><img src="https://lh3.googleusercontent.com/agJNVyc_WO3aAra3qS3XpuHm1T2pmhZDtEFZQ_VW4mvktv_EUFR_VWrQHuidPws6dMtY3zFe_rufSuQK5tw1rlgBfEgFFo8RF7AD8z_uekreAbl5UK_y6Ry2F03WM3Y9suE726bANg" alt="bh-divider"></div>
 -->


		<div class="specials">
			<p>Monday-Saturday <br>Happy Hour Specials 4pm to 9pm!!</p>

			<br>

			<p>Sunday Beer Blast!! <br>All Bottled and Tap Beers $2.00 Off Regular Price!!</p>

			<br>

			<p>All Day Everyday!! <br>$6.00 Long Island Ice tea!! All Day! Everyday Drink Special!!<br>
		</div> 


		<div class="hours-of-operation">
	
				<p>Hours of Operation</p>
				Monday–Saturday,
				11:00 a.m.–4:00 a.m.
				Sunday,
				12:00 p.m.–3:00 a.m. <br><br>

				Located on 10th Street and Waverly. At Penn Station,
				Take the #1 Train to Christopher Street, the #2 or #3 Train to 14th Street
				or the A, C, E, B, D, F or V Train to West 4th Street
				<br><br><br><br><br>
		</div>

		<div><br><br></div>

</div>


</body>
</html>
