
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Links</title>
	<link rel="stylesheet" href="/assets/links.css.scss">
</head>
<body>

<div class="links-wrap">

	<div class="links-container">
		<p class="link-header">LGBTQ LINKS</p>
			
			<div class="link-link-content" >
					<img src="https://lh3.googleusercontent.com/t7j6G_5Q9YQM1lN8jNkNyOFAxh3ESL___lHfudyKSwUHLAseve18beGBS3H8gr3BtRbPqyHUZQxEKxJz1uuGpQt6nvoIm74FVm1wH_IlebQ7h5Rp-hjfctD3RkaEvVISDZjSL5ZjPA=w2400" alt="The Gay Center">

					<a href="https://gaycenter.org/">The Center</a>
					<div class="link-blurb">
						Where everyone is celebrated for who they are. The Center is the heart and home of NYC's LGBT community, providing programs for health, wellness and community connection.
					</div>
				</div>
			
				<div class="link-link-content">
					<img src="https://lh3.googleusercontent.com/6uh40xh329SCsEciDW9Vd29397Q_bnuRYsn3uVYA08iuiOoJzZ86lOrsvgdmw-7JSoV6qaS0qx3szI2Yd1AdVfju7tq5co8e6LWbb2oAQZJ4XSPoK-IFMF4hcT9m88WuKKnfioGSyA=w2400"   alt="LGBTQ Nation">
					<a href="https://www.lgbtqnation.com/">LGBTQ Nation</a>
						<div class="link-blurb">
							THE WORLD'S MOST FOLLOWED LGBTQ NEWS SOURCE
						</div>
				</div>
			
				<div class="link-link-content">
					<img src="https://lh3.googleusercontent.com/psjLXWpyJCP1JczoHEfrswF7WcJH3cfwWLRpfnc4VI35cIo3spitOVS49-7Pf5DbEhhUIuh6QrSrsVXSsbRkV4OClSQLkwkN7su-cNvKRFVHRiVj4an5PfTjlhUJu8dYj-vq5P2isA=w2400" alt="Greenwhich Historical Society">
					<a href="http://www.greenwichhistory.org/">Greenwich History</a>
					
						<div class="link-blurb">
							Greenwich enjoys a truly colorful past. From its precarious position on the Connecticut Frontier during the American Revolution to its later reputation as a gilded-age enclave for the rich and infamous, Greenwich has long been associated with well-known individuals and pivotal events in the arts, business, journalism and politics.
						</div>
				</div>
		
				<div class="link-link-content">
					<img src="https://lh3.googleusercontent.com/1ONxsfcGXao7SL7V9LmmV33mYbfccvxGm7CM_RyhLw73hsE_3MJ-tOJKQF7AELUCi5gX_YoTJHkXS0jlJXy1ShKw1PFqCaf_lemUlS3BTMYVosZxISNorbdJG8KSqVTy88_JqFIVRg=w2400" alt="Stonewall">

					<a href="https://thestonewallinnnyc.com/">The Stonewall Inn Nyc</a>
						<div class="link-blurb">
							Visit another piece of LGBTQ history at the Stonewall Inn just around the corner!
						</div>
				</div>
	</div>

</div>

</body>
</html>

