<html>
<head>
	<meta charset="UTF-8">
	<title>Links</title>
</head>
<body>

<div class="links-wrap">
	<div class="links-container">
		<ul>
			<li>
				<a href="https://gaycenter.org/">gaycenter.org</a>
					<p>
						Where everyone is celebrated for who they are. The Center is the heart and home of NYC's LGBT community, providing programs for health, wellness and community connection.
					</p><br>
			</li>
	
			<li>
				<a href="https://www.lgbtqnation.com/">lgbtqnation.com</a>
					<p>
						THE WORLD'S MOST FOLLOWED LGBTQ NEWS SOURCE
					</p><br>
			</li>

			<li>
				<a href="http://www.greenwichhistory.org/">greenwichhistory.org</a>
					<p>
						Greenwich enjoys a truly colorful past. From its precarious position on the Connecticut Frontier during the American Revolution to its later reputation as a gilded-age enclave for the rich and infamous, Greenwich has long been associated with well-known individuals and pivotal events in the arts, business, journalism and politics.
					</p><br>
			</li>

			<li>
				<a href="https://thestonewallinnnyc.com/">thestonewallinnnyc.com</a>
					<p>
						Visit another piece of LGBTQ history at the Stonewall Inn just around the corner!
					</p><br>
			</li>
		</ul>
	</div>
</div>
	
</body>
</html>


<style>

body {
	background-color:black;
}

.links-wrap {
	display: grid;
	grid-column-template: 1fr;
}


.links-container {
	position: absolute;
	top:15%;

}

a {
	color:white;
	font-size: 14px;
	font-weight:bold;
	margin:2px;
	/*padding:2px;*/

}

p {
	color:green;
	font-size: 16px;
	font-weight:bold;
	margin:2px;
	/*padding:2px;*/
}



</style>