<!-- <html>
<head>
	<meta charset="UTF-8">
	<title>Links</title>
	<link rel="stylesheet" href="/assets/links.css.scss">
</head>
<body>

<div class="links-wrap">
	<div class="links-container">
		<ul>
			<li>
				<a href="https://gaycenter.org/">gaycenter.org</a>
					<p>
						Where everyone is celebrated for who they are. The Center is the heart and home of NYC's LGBT community, providing programs for health, wellness and community connection.
					</p><br>
			</li>
	
			<li>
				<a href="https://www.lgbtqnation.com/">lgbtqnation.com</a>
					<p>
						THE WORLD'S MOST FOLLOWED LGBTQ NEWS SOURCE
					</p><br>
			</li>

			<li>
				<a href="http://www.greenwichhistory.org/">greenwichhistory.org</a>
					<p>
						Greenwich enjoys a truly colorful past. From its precarious position on the Connecticut Frontier during the American Revolution to its later reputation as a gilded-age enclave for the rich and infamous, Greenwich has long been associated with well-known individuals and pivotal events in the arts, business, journalism and politics.
					</p><br>
			</li>

			<li>
				<a href="https://thestonewallinnnyc.com/">thestonewallinnnyc.com</a>
					<p>
						Visit another piece of LGBTQ history at the Stonewall Inn just around the corner!
					</p><br>
			</li>
		</ul>
	</div>
</div>
	
</body>
</html> -->






<!-- *********************************** -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Links</title>
	<link rel="stylesheet" href="/assets/links.css.scss">
</head>
<body>

<div class="links-wrap">

	<div class="links-container">

		<p class="link-header">LGBTQ LINKS</p>
			
				<div class="link-link-content" >
					<img src="<a href='https://photos.google.com/share/AF1QipPRswjmdJM6w6JFXiTtUvwVzXIupvBQffUJWZiYwcuWzvgoD9-qrYW2wViRIt-K0A?key=dnN5NlVWYUxfQWtTVjFLejdjMTVxbWE0U0RsYVFR&source=ctrlq.org'><img src='https://lh3.googleusercontent.com/9d7RAiddcj0xvU5HAQ43LxyRq5DyMlzUeD3dS1HYbpAXkzwZh88_o5Bfp5hw5UkTty2LOvIXyA1Go_lFSP42OgyZqK1Isv_6q_Nyt-x98bA4dZ_E8FS5iOBeJ_t_8OVCwRYn1LrkIA=w2400' /></a>" alt="Gay Center">
					<a href="https://gaycenter.org/">The Center</a>
					<div class="link-blurb">
						Where everyone is celebrated for who they are. The Center is the heart and home of NYC's LGBT community, providing programs for health, wellness and community connection.
					</div>
				</div>
			
				<div class="link-link-content">
					<img src="<a href='https://photos.google.com/share/AF1QipPtf9QLYYhDeA_3jt5syZd21k8fWbGhcCFHshb7_7FoY5V6XZqBROOcfLnZwO8Dhw?key=ZUowdGdBU2Z5bXllRGJXeU4wd2puWkFHbU13VG5B&source=ctrlq.org'><img src='https://lh3.googleusercontent.com/DG7NxJGCFPJkp1i1tnS_wDYmna3cjJW3XgQaoKyb1SOJYBcPamFcQrY9zeduuHPWjjwrGgUL8MKmyS8vY4KWtGWAwaBoH_v5g2QTM6JZkjjE2APBqiuNWuCXUbk9HmvmLpSsPRTM_Q=w2400' /></a>" alt="LGBTQ Nation">
					<a href="https://www.lgbtqnation.com/">LGBTQ Nation</a>
						<div class="link-blurb">
							THE WORLD'S MOST FOLLOWED LGBTQ NEWS SOURCE
						</div>
				</div>
			
				<div class="link-link-content">
					<img src="<a href='https://photos.google.com/share/AF1QipM5ld5cYS8GSMtFYFyS7Xp_T5iuoWeh4ml32gDKAueVhD9kDiu3K7grJ1wSlCF-tA?key=MGJVRUNEXzJSRTR0WjVwUlZUbkxCMjhGYjIxdEJR&source=ctrlq.org'><img src='https://lh3.googleusercontent.com/UTV-idkZ6Cu9_l7GgWlenWZuB81g6WW5XvYO5hZmjfeRTi_8ct3m3JWOt73Tj4D64gKwvyhF61g2k3Zo_WXJmsE_LxVNTUYKInmkSC_NUgByivYld5RuhcTsm6qO4u68DYSWxmED2g=w2400' /></a>" alt="Greenwhich Historical Society">
					<a href="http://www.greenwichhistory.org/">Greenwich History</a>
					
						<div class="link-blurb">
							Greenwich enjoys a truly colorful past. From its precarious position on the Connecticut Frontier during the American Revolution to its later reputation as a gilded-age enclave for the rich and infamous, Greenwich has long been associated with well-known individuals and pivotal events in the arts, business, journalism and politics.
						</div>
				</div>
		
				<div class="link-link-content">
					<img src="<a href='https://photos.google.com/share/AF1QipMwhsPGowV20q3ZROf_ezzAMCc6A7JNAGDS07LZ5WnEXAbYq5TB4lAmcxUOzS7Aug?key=bmJIWmlWNll0Tk1ETFJvLVRaUnh5b3h3MmZXRkFn&source=ctrlq.org'><img src='https://lh3.googleusercontent.com/iNAoyipZpfXpwZbL29Q0QDDCcgf4mCcRPdXT5FkehaDh2NQKVMRAsme6g0-CWTY3biB9Nx5uDTtqU8o-koSw5o_xeTwIWQ6VLcdC-8PVty-D7kd2y3mIi9nPaPtTtGTdzmLmCetxiQ=w2400' /></a>" alt="Stonewall">
					<a href="https://thestonewallinnnyc.com/">The Stonewall Inn Nyc</a>
						<div class="link-blurb">
							Visit another piece of LGBTQ history at the Stonewall Inn just around the corner!
						</div>
				</div>
		
	</div>

</div>

</body>
</html>















