
<html lang="en">
<head>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">


	<meta charset="UTF-8">
	<title>Julius Landing Page</title>

	<div class="col-md-8 col-md-offset-2">
	
	</div>

</head>
<body>

<div class="grid">
	<div class="food-menu">
		<p>
			<ul>
					<li>Julius Burger</li>

					<a href="#" class="food-hover"> Julius Bacon Cheese Burger <span><img class="food-thumb-size" src="/assets/baconCB.jpg" alt="Bacon Cheese Burger"></span></a>

					 
					<li>Hot Dog</li>
					 
					<li>French Fries</li>
					 
					<li>Grilled Cheese</li>
					 
					<li>Grilled Cheese with Tomato</li>
					 
					<li>Grilled Cheese with Bacon</li>
					 
					<li>B.L.T.</li>
					 
					<li>Onion Rings</li>
					 
					<li>Chicken Tenders</li>
					 
					<li>Mozzarella  Sticks
			</ul>

		</p>
	</div>

	<div class="seasonal-drinks">
		<h1>Julius Seasonal Suggestions</h1>
			<p>Hot Toddy</p>
			<p>Cosmipolitan</p>
			<p>Manhattan</p>
			<p>Whiskey Sour</p>
			<p>Grasshoper</p>
			<p>Magners</p>
			<p>Stella</p>
			<p>Bud</p>
			<p>Amstel</p>
			<p>Holiday Drink</p>
			<p>Appletini</p>
	</div>

	<div class="regular-drink-menu">
		<h1>Julius Happy Hour!</h1>
		<p>*** Happy Hour Specials 4pm - 9pm, Monday - Saturday! ***</p>
		<p>*** Sunday Beer Blast! All Tap and Bottled Beer $2 Off! ***</p>
		<p>*** All Day Long Island Iced Tea Special for $6! ***</p>
	</div>
</div>

<!-- <div class="img-container">
	<img src="https://lh3.googleusercontent.com/VLTYuCJh0z7u4SSKnWN1a5AK5LOHRpn755m_8Nl4SlVWTqaBj7gf3M-wIj__zT1aHwOR3k7ZN5Ld0GlGbu_z6KcATsP2weSNrabSYrnByCyCdocPs5TKlMTgWJ5WXW7-7_dBzOTp2Q" alt="none">
</div> -->




	
</body>
</html>