<html>
<head>
	<meta charset="UTF-8">
	<title>Julius Bill of Fare</title>
	<link href="https://fonts.googleapis.com/css?family=Rye" rel="stylesheet">

	<!-- <link rel="stylesheet" href="/assets/menu.css.scss"> -->

	<link rel="stylesheet" href="/assets/MENU.css.scss">

		<!-- <link rel="stylesheet" href="../assets/stylesheets/menu.css.scss"> -->

	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Caveat:700|Goblin+One|Miltonian+Tattoo" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Lato:100i" rel="stylesheet">
</head>
<body>

<!-- Julius Bill of Fare -->
<div id="wrap">

	<div id="container">

		<div id="menu">

			<div id="header">BILL OF FARE</div>

			<div id="wavy-line"></div> 
			
		<ul>
			<li>JULIUS BURGER...................................6.00</li>
			<li>WITH CHEESE.....................................6.50</li>
			<li>WITH BACON......................................7.00</li>
			<li>GRILLED CHICKEN SANDWICH........6.00</li>
			<li>SLIDERS(3).............................................6.00</li>
			<li>HOT DOG................................................2.50</li>
			<li>FRENCH FRIES..............................4.00/5.00</li>
			<li>GRILLED CHEESE................................4.00</li>
			<li>WITH TOMATO...................................4.50</li>
			<li>WITH BACON......................................5.00</li>
			<li>BLT...........................................................5.00</li>
			<li>ONION RINGS........................................5.00</li>
			<li>CHICKEN TENDERS(4)........................6.00</li>
			<li>MOZZARELLA STICKS(5)...................5.00</li>
		</ul>

		</div>
		
	</div>
	
</div>

</body>
</html>