<html>
<head>
	<meta charset="UTF-8">
	<title>Food and Cocktails</title>
</head>
	<body>
		<div class="wrap">
				<div class="food-menu">
					<ul>
						<div class="food-container">
						<li>
							<a href="#"><div class="centered">Julius Cheeseburger $6</div>
								<img class="food-thumb-size" src="https://lh3.googleusercontent.com/NitTYrOxxlY0Hqxzkcp0H0DLGJlnbP76saKLltzUn7vOypB4ewBGAMrg_kr0kwnXOebhRysb4xOwTfMIRRoIDa9-_-nUxFmMUNANtbbOy_yFaXx3dP12U1c8NFGgOcOSbBnuAlkhkA=w2400" alt="Julius Cheese Burger">
								
							</a>
						</li>
						</div>

						<div class="food-container">
						<li>
							<a href="#"><div class="centered">Onion Rings $4</div>
								<img class="food-thumb-size" src="https://lh3.googleusercontent.com/XVJfn0vHDqZQjOXWfNmMKxLsSKVkM-3XgZoSVsEO0fV9Ky3Y-PlifnZf2cvb6390CFSCsFuTIMqtRkQ9YFa7rH6ABa5NwZu6_JRjNdQvzT5eS4frBytnP_DS8ArpdL7EV1w-FEVqyA=w2400" alt="Onion Rings">
							</a>
						</li>
						</div>

						<div class="food-container">
						<li>
							<a href="#"> <div class="centered">Mozzarella Sticks <br> $5</div>
								<img class="food-thumb-size" src="https://lh3.googleusercontent.com/Ou_5yrwgr7njus-MXIje_oZJRXrn4pn7MZbzeK_h4t_OUvRT75nLoIZ24AyyN26aVB5KEFmmEd9Vt5Fw_bGcRxR_2veFQs8SG82KUyIUEo_M-jCjXGRGtMg_svxqyYS6xXum3aGZDQ=w2400" alt="Mozzarella Sticks">
							</a>
						</li>
						</div>


						<div class="food-container">
						<li>
							<a href="#"> <div class="centered">B.L.T<br>$5</div>
								<img class="food-thumb-size" src="https://lh3.googleusercontent.com/BAy3dMyoIQlxey5qWU40YT8EmV5KjP43p9MIhOqsp49AJkIDD963ewddoyN0l93FRi3xrBg7EEMydII86YlKh2ZBsY2b5FIwZUrQIJESf2k0Bfcki1J8Xq30-sGW3ym5WjlXQ5YZhg=w2400" alt="B.L.T">
							</a>
						</li>
						</div>


						<div class="food-container">
						<li>
							<a href="#"> <div class="centered">French Fries $4</div>
								<img class="food-thumb-size" src="https://lh3.googleusercontent.com/XoQ3VZ342NpB3zlJbg38FrzSduZB_QpfWo3TBgIRcGzf3AWrV5EL6ARnwtA9K9hjzrwBxaQCQdH69DwgyH19YllmRA4TPJUf6s5_8XPmV4pXrdF8rk419AifB_hqaCFNYYhzd2rm-g=w2400" alt="French Fries">
							</a>
						</li>
						</div>
						


						<div class="food-container">
						<li>
							<a href="#"> <div class="centered">Grilled Cheese $4</div>
								<img class="food-thumb-size" src="https://lh3.googleusercontent.com/UHEBjEa9U3Ej-tLb_3Nq7aTQEuDPIZ0oOGIrcVcHthiBF68bqoaDhqG9If7Eo9sjczthrAlcixCbiE1NBkSI7j5c6fQ1I5FeIiJ6sX5el3xe4sBJkxZrnyWxtLvocisRUkk4UIRHnA=w2400" alt="Grilled Cheese Sandwich">
							</a>
						</li>
						</div>


						<div class="food-container">
						<li>
							<a href="#"> <div class="centered">Hot Dog $42</div>
								<img class="food-thumb-size" src="https://lh3.googleusercontent.com/lEUjg6DKiuQM0L_b5E5oNY_j9RAxylEFpoy7mL7vgtUbMjMrOxY_LYf4cymVK4G8bjzFXpmWuih_8N49c3wKpkoqwOt_uykB56FZmoMuONEyPv68Tou3fv0ABDKp_OQJ4AmbGdb7Tw=w2400" alt="Hot Dog">
							</a>
						</li>
						</div>


						<div class="food-container">
						<li>
							<a href="#"> <div class="centered">Chicken Tenders $4</div>
								<img class="food-thumb-size" src="https://lh3.googleusercontent.com/17p4pYVPdpjHstPyBVWPqo1pVad5zOC-9CY3i9b5WgVC5Ymn5Jyr557POhTILMoHh4lopKgL3LfUpGQe_3CgbBzP2ODwQKgCEMdPfgzL_pEr7gbP3GEB-Jd8QEVGh49U1_n6Q1sfNw=w2400" alt="Chicken Tenders">
							</a><br><br>
						</li>
						</div>
					</ul>
			</div>


			<div class="happy-hour-container">
				<div class="regular-drink-menu">
					<h1>Julius Happy Hour!</h1>
					<p>*** Happy Hour Specials 4pm - 9pm, Monday - Saturday! ***</p>
					<p>*** Sunday Beer Blast! All Tap and Bottled Beer $2 Off! ***</p>
					<p>*** All Day Long Island Iced Tea Special for $6! ***</p>
				</div>
			</div>


			<!-- <div class="container"> -->
				<div class="drink-menu">
					<ul><div class="music-container">
						<li>
							<a href="#" ><div class="centered">Manhattan $11</div>
								<img src="https://lh3.googleusercontent.com/e30jAIqfMHVJc1Z_tZSYEzBAQ-5-ZZ7JKDtzmbBsei4Qh3nUXcaUFFsiSii8D38SoAsiYJUNz6Qm1t_quONGRzhD6zHryYdGTQ8hogwXJcSdo3wpZV0wNTNlKvhriUDKW6XLlIwT3w=w2400" alt="Manhattan">
							</a>
						</li>
						</div>

						<div class="music-container">
						<li>
							<a href="#"><div class="centered">Cosmopolitan $12 </div>
								<img src="https://lh3.googleusercontent.com/YcVoeQikN9gvB5ddRKHxVICNA13slY2NxqAYhSJgx-3yuZCDIz7IgXAWAZJcNvZyrWAXNEmWPGxHL9IvMA7F6-WFGWcrjf6ia9QQ8Caw07dlHGjRt84fNDO0HzZYpfbqjC-cjrm-Bw=w2400" alt="Cosmopolitan">
							</a>
						</li>
						</div>

						<div class="music-container">
						<li>
							<a href="#"><div class="centered">Bloody Mary $9</div>
								<img src="https://lh3.googleusercontent.com/9yXhqvUMgYwPRL7NS_RxIX7zPZGfcqlze8KzydItO9Qil2i7WxCvex6qnr4NkahwTym8Kza216XuqdiGmZcEGU3i2xQWek0bFQmsxlLQtUGp0LRrd35R8kf4S8ipUbmeGvfB6Zbs0w=w2400" alt="Bloody Mary">
							</a>
						</li>
						</div>

						<div class="music-container">
						<li>
							<a href="#"><div class="centered">Appletini $11</div>
								<img src="https://lh3.googleusercontent.com/FkI6iQBuHLIZ-wKa8AhVHVaKkErvbDgcvTOMYf_ATFIkWIgYEqwiBxce4UKcm95UeKhhcVXj2NtudTJMXtHAGyfZPYhrWJ-uiKk5avgOYb25GPPro2RYXKimx_U5rDhiPZhfLTAnng=w2400" alt="Appletini">
							</a>
						</li>
						</div>

						<div class="music-container">
						<li>
							<a href="#"><div class="centered">Grasshopper $10</div>
								<img src="https://lh3.googleusercontent.com/SaTlGxuEuSmivIZYgHI9aEZO7znFMLao0MKQhtLCs1-1aaUdHFhrtsg3dOFj565j2ZKWlD2jwbaHTO4yEeMDNyozKjBFHwbywaHNVMzWLC8kNaVJuOQSxrH-Ijp996S_R0ImbJD19A=w2400" alt="Grasshopper">
							</a><br><br>
						</li>
						</div>

					</ul>
			</div>



	
		</div><br><br> <!-- Wrap Class -->

	</body>
</html>




<style>

	body {
		background-color: black;
	}


	.wrap {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 2px;
		margin: 1px;
		background-color: black;
	}

/*	.container {
		position: relative;
		border: solid red 3px;
		margin: 4px;
		top: 80px;
	}*/

	.food-menu {
		position: relative;
		border: solid green 3px;
		margin: 4px;
		top: 80px;
	}

	.food-menu ul li a {
		position: relative;
		text-decoration: none;
		font-size: 14px;
		color: white;
		font-weight: 900;
		text-shadow: 2px 2px red;
		top: -80px;
		right:20px;


	}

	.food-menu ul li a img {
		margin:4px;
		padding:2px;
		/*padding: 2px 0px 2px 2px;*/
		width:80px;
		height:80px;
		/*visibility: hidden;*/
		border-radius: 10px;
		/*margin: auto;*/
		/*float: right;*/
		/*clear: right;*/

	}

	.food-menu ul li a:hover img {
		visibility:visible;
		border: solid green 2px;
	}

/*Centers menu items text in middle over image. */

	.centered { 
		-webkit-transform: translate(-50%,-50%);
  		transform: translate(-50%,-50%);
  		position: absolute;
  		top: 50%;
  		left: 50%;
	}
/* Aligns food items menu on the left */
	.food-container {
		position: relative;
		margin: 4px;
		top: 100px;
		text-align: center;

	}

	.music-container {
		position: relative;
		margin: 4px;
		top: 100px;
		text-align: center;

	}

	.drink-menu {
		position: relative;
		border: solid green 3px;
		margin: 4px;
		top: 80px;
	}



	.drink-menu ul li a {
		position: relative;
		text-decoration: none;
		font-size: 14px;
		color: white;
		font-weight: 900;
		text-shadow: 2px 2px red;
		top: -80px;
		right:20px;


	}

	.drink-menu ul li a img {
		margin:4px;
		padding:2px;
		width:80px;
		height:80px;
		/*visibility: hidden;*/
		border-radius: 10px;
	}

	.drink-menu ul li a:hover img {
		visibility:visible;
		border: solid green 2px;
		/*text-align: center;*/
	}





	.regular-drink-menu {
		position: absolute;
		/*bottom: 30px;*/
		background-color: black;
		margin: 10px;
		text-align: center;
		padding: 20px;
		border: solid green 2px;
	}

	.regular-drink-menu > h1 {
		color: orange;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
	}

	.regular-drink-menu > p {
		color: green;
		font-size: 16px;
		font-weight: bold;
	}

	.happy-hour-container {
		position: relative;
		/*border: solid #210f09 3px;*/
		margin: 5px;
		top: 90px;
	}



@media screen and (max-width: 600px) {

		.wrap {
			/*display: grid;*/
			grid-template-columns: 1fr 1fr 1fr;
			/*grid-gap: 2px;*/
			/*margin: 1px;*/
			background-color: black;
	}

		.container {
			/*position:relative;*/
			/*border: solid green 3px;*/
			/*border: solid #210f09 3px;*/
			/*margin: 4px;*/
			top: 100px;
			/*text-align: center;**/
	}

		.happy-hour-container {
			grid-column:1;
			grid-row:1/2;
			/*position: relative;*/
			/*border: solid #210f09 3px;*/
			/*margin: 5px;*/
			/*top: 90px;*/
	}

		.food-menu {
			grid-column:2;
			top: 100px;
		}

		.drink-menu {
			grid-column:3;
			top: 100px;
		}





}













</style>