
<html lang="en">
<head>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">


	<meta charset="UTF-8">
	<title>Julius Landing Page</title>

	<div class="col-md-8 col-md-offset-2">
	
	</div>

</head>
<body>

<div class="grid">
	<div class="food-menu">
		<p>
			<ul>
					<li>Julius Burger</li>

					<a href="#" class="food-hover"> Julius Bacon Cheese Burger <span><img src="/assets/baconCB.jpg" alt="Bacon Cheese Burger"></span></a>

					 
					<li>Hot Dog</li>
					 
					<li>French Fries</li>
					 
					<li>Grilled Cheese</li>
					 
					<li>Grilled Cheese with Tomato</li>
					 
					<li>Grilled Cheese with Bacon</li>
					 
					<li>B.L.T.</li>
					 
					<li>Onion Rings</li>
					 
					<li>Chicken Tenders</li>
					 
					<li>Mozzarella  Sticks
			</ul>

		</p>
	</div>

	<div class="seasonal-drinks">
		<h1>Seasonal Suggestions</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quam labore sapiente fugiat commodi vitae doloribus, aliquam inventore, incidunt consequatur, maiores omnis? Minima doloremque, dolorum eveniet odio. Ratione repellendus ab pariatur excepturi enim esse quam rerum nisi, laboriosam, neque dolorum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aspernatur asperiores voluptates labore, nam autem voluptatibus velit, commodi iusto earum, tempore. Totam repudiandae rerum itaque autem cupiditate sequi accusantium suscipit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat magni laboriosam, ab illo optio quae ipsam at! Accusantium, et, fugiat?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima ad, accusantium necessitatibus atque voluptates. Cum aspernatur, nulla animi amet porro facere non ipsa tempora tempore similique laboriosam quisquam quia in expedita maxime cupiditate labore saepe, quod ducimus mollitia officiis veniam!</p>
	</div>
</div>

<!-- <div class="img-container">
	<img src="https://lh3.googleusercontent.com/VLTYuCJh0z7u4SSKnWN1a5AK5LOHRpn755m_8Nl4SlVWTqaBj7gf3M-wIj__zT1aHwOR3k7ZN5Ld0GlGbu_z6KcATsP2weSNrabSYrnByCyCdocPs5TKlMTgWJ5WXW7-7_dBzOTp2Q" alt="none">
</div> -->




	
</body>
</html>