


@import "bootstrap-sprockets";
@import "bootstrap";






.front-page > img {
	// padding: 10px 30px 0px 30px;
	// border-radius: 50px;
	position: absolute;
	top: 93px;
	max-width:100%;
}

.nav {
	background-color: black;
	// font-family: 'Tangerine', serif;
	// font-family: 'Marck Script', serif;
	width: 100%;

	/*border: solid green;*/
	font-size: 16px;
	font-weight: 10;
	position: fixed;
	z-index: 1;

}

.nav > li > a {
	color: green;
	// background-color: orange;
	font-weight: bold;
	font-size: 13px;

}


.nav > li > a:hover {
	color: green;
}

.nav-link > img {

	border: solid green 1px;
	width: 55px;
	height: 55px;
	// border-radius: 25%;
}



#contact-tab {
	color: red;
}

#gallery-tab {
	color: orange;
}

#drinks-music-tab {
	color: yellow;
}


#about {
	color: green;
}

#calendar {
	color: blue;
}

#giving-back {
	color: #4B0082;
}

#footer li {
	display: inline;
}

.footer {
	// border-radius: 20px;
	padding: 8px;
	font-size: 16px;
	/*border: solid black;*/
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: red;
    text-align: center;
    list-style-type: none; /* removed the bullet points */
    display: inline-block;
    box-shadow: 0px 500px 0px 500px #000;

}

.footer > li > a {
	color: black;
	font-weight: 600;
	font-size: 14px;

}


a:link {
    color: green;
}



body {


	/*background:url(./washingtonsquare.jpg);*/
	// position: relative;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(https://lh3.googleusercontent.com/DiW-y5kPi8UKE2zPgS-IDFX-o5-I9ws5zA2ewiz_CMMQzjGiBe5PF_AZwq1vJw5uQxlyDeGKe6Yz_lFNVN9bwGeXQ3D63DiFL6X7A9ZNjMj8mGIw5Vnw0Pp3wIxVKIZTsHVl6Qhm_A);
	// z-index: 1;
	
}

nav {
	padding: 50px 0;
	min-width:500px;
}

nav ul {
	background:linear-gradient(90deg,
		rgba(10, 40, 10, 0.5)0%,
		rgba(0, 22, 0, 1.2)25%,
		rgba(0, 0, 0, 0.2)75%,
		// rgba(255, 255, 255, 1.0)75%),
		rgba(0, 40, 0, 0)100%);
	box-shadow: 0px 0px 25px rgba(0,0,0,1.1),
	inset 0px 0px 10px rgba(25, 144, 25, 1.6);
	
}


nav ul li {
	// vertical-align:middle;
	// list-style:none;
	// margin:0;
	// position: relative;
	padding: 10px;
	display:inline-block;
	
	// width:50%;
	// text-decoration: none;
	// text-align: right;

}


nav ul li a {
	color: green;
	display:block;
	padding: 2px;
	text-decoration:none;
	font-size: 22px;
	font-family: 'Marck Script';
	width:100%;
	text-align:center;
	
}



