@import "bootstrap-sprockets";
@import "bootstrap";

html {
	background-color:black;

}

body {
	margin: 0;
    padding: 0;
}

.front-page > img {
	
	position: relative;
	top: 0px;
	max-width:100%;
	min-width:100%;
	z-index:0;
}


#contact-tab {
	color: red;
}

#gallery-tab {
	color: orange;
}

#drinks-music-tab {
	color: yellow;
}


#about {
	color: green;
}

#calendar {
	color: blue;
}

#giving-back {
	color: #4B0082;
}

#footer li {
	display: inline;
}

.footer {
	padding: 8px;
	font-size: 16px;
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: red;
    text-align: center;
    list-style-type: none; /* removed the bullet points */
    display: inline-block;
    box-shadow: 0px 500px 0px 500px #000;
}

.footer > li > a {
	color: black;
	font-weight: 600;
	font-size: 14px;
}


a:link {
    color: green;
}

.nav-item {
	list-style: none;
	margin: 15px 1px 1px 1px;
	padding: 0;
	display: flex;
	justify-content: space-around;
	position: absolute;
	padding: 4px;

	background:linear-gradient(90deg,
		rgba(10, 30, 10, 0.5)0%,
		rgba(0, 22, 0, 1.2)25%,
		rgba(0, 0, 0, 0.2)75%,
		// rgba(255, 255, 255, 1.0)75%),
		rgba(0, 40, 0, 0)100%);
	box-shadow: 0px 0px 25px rgba(0,0,0,1.1),
	inset 0px 0px 10px rgba(25, 144, 25, 1.6);
	
	z-index:1;
	width:100%;
}


.nav-item > a {
	color: green;
	display:block;
	padding: 20px;
	text-decoration:none;
	font-size: 22px;
	font-family: 'Marck Script';
	width:100%;
	text-align:center;
	
}

.nav-item > a {
	color: green;
	font-weight: bold;
	font-size: 13px;
}

.nav-item > a > img {
	border: solid green 1px;
	width: 55px;
	height: 55px;
}


