@import "bootstrap-sprockets";
@import "bootstrap";


html {

	background-color:transparent;
}

body {
	margin: 0;
  padding: 0;
}

.front-page > img {
	position: relative;
	top: 0px;
	max-width:100%;
	min-width:100%;
	z-index:0;
}


  // Nav Bar Julius Logo
.julius-logo-icon {
    position: relative;
    float:left;
    border: solid green 1px;
    width: 50px;
    height: 50px;
    margin:3px;
    z-index:1;
  }



#links-link {
	color: #4B0082;
}

#gallery-tab {
	color: orange;
}

#drinks-music-tab {
	color: red;
}

#about {
	color: yellow;
}

#calendar {
	color: green;
}

#contact-link {
	color: blue;
}


a:link {
    color: green;
}

// Entire Navbar
.nav-item {

	list-style: none;
	// justify-content: space-around;
	position: absolute;
	background:linear-gradient(90deg,
		rgba(10, 30, 10, 0.5)0%,
		rgba(0, 22, 0, 1.2)25%,
		rgba(0, 0, 0, 0.2)75%,
		rgba(0, 40, 0, 0)100%);
	box-shadow: 0px 0px 25px rgba(0,0,0,1.1),
	inset 0px 0px 10px rgba(25, 144, 25, 1.6);
	z-index:1;
	width:100%;
  text-align:center;
}

.navbar-links {
  margin-top:20px;
}


.navbar-links a {
  color: lightgreen;
  display: inline;
  // This padding sets the mobile navbar logo padding
  padding: 20px;
  text-decoration:none;
  font-family: 'Krona One';
  width:100%;
  text-align:center;
  font-weight: bold;
  font-size: 13px;
  z-index: 1;

}

.nav-item a:first-child {
	padding:0px;
	margin:0px;
}

.navbar-links > .icon {
	display: none;
}


// Is later set in media query for mobile below
.nav-address {
	display:none;
}

//FOOTER FOOTER FOOTER FOOTER
// *****************************


.footer > li > a {
  color: black;
  font-weight: 600;
  font-size: 14px;
}

.footer {
  padding: 8px;
  font-size: 16px;
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: red;
    text-align: center;
    list-style-type: none; /* removed the bullet points */
    display: inline-block;
    box-shadow: 0px 500px 0px 500px #000;
}


#footer li {
  display: inline;
}


// *********************************************************
// *********************************************************
@media screen and (max-width: 700px) {
// makes all the links dissapear except for the julius home logo link
  
  .navbar-links > a {display: none;}

  // .navbar-links {
  //   margin-top:40px;
  // }

  .navbar-links > a.icon {
    position: absolute;
    font-size:25px;
    top: -10px;
    display: block;
    text-align: right;
  }

// **********************
// ************************
// Julius Location Address on Nav
  .nav-address {
    max-width:100px;
    margin-top:20px;
    margin-bottom:-10px;
    position: relative;
  	font-size: 4px;
    font-weight:900;
  	display: inline-block;
  	color:white;
    transform:scale(2.5);
  }

  // .navbar-links.responsive {
  // 	position: relative;
  // 	background:black;
  // }

  .navbar-links.responsive a.icon {
    position: absolute;
    right: 0px;
    top: 0;
    text-align: right;
  }

  // This rule effects all links texts in the responsive version so they align left.
  .navbar-links.responsive a {
    float: none;
    // margin-top:2px;
    display:inline-block;
    text-align:left;
    background-color:black;
    z-index: 0;

  }

}


// *********************************************************




