@import "bootstrap-sprockets";
@import "bootstrap";

html {
	background-color:transparent;
}

body {
	margin: 0;
  padding: 0;
}

.front-page > img {
	position: relative;
	top: 0px;
	max-width:100%;
	min-width:100%;
	z-index:0;
}

  // Nav Bar Julius Logo
.julius-logo-icon {
    position: relative;
    float:left;
    border: solid green 1px;
    width: 50px;
    height: 50px;
    margin:3px;
    z-index:1;
  }

#links-link {
	color: #4B0082;
}

#gallery-tab {
	color: orange;
}

#drinks-music-tab {
	color: red;
}

#about {
	color: yellow;
}

#calendar {
	color: green;
}

#contact-link {
	color: blue;
}


a:link {
    color: green;
}

// Entire Navbar
.nav-item {
	list-style: none;
	position: absolute;
	background:linear-gradient(90deg,
		rgba(10, 30, 10, 0.5)0%,
		rgba(0, 22, 0, 1.2)25%,
		rgba(0, 0, 0, 0.2)75%,
		rgba(0, 40, 0, 0)100%);
	box-shadow: 0px 0px 25px rgba(0,0,0,1.1),
	inset 0px 0px 10px rgba(25, 144, 25, 1.6);
	z-index:1;
	width:100%;
  text-align:center;
}

.navbar-links {
  margin-top:20px;
}


.navbar-links a {
  color: lightgreen;
  display: inline;
  // This padding sets the mobile navbar logo padding
  padding: 20px;
  text-decoration:none;
  font-family: 'Krona One';
  width:100%;
  text-align:center;
  font-weight: bold;
  font-size: 13px;
  z-index: 1;

}

.nav-item a:first-child {
	padding:0px;
	margin:0px;
}

.navbar-links > .icon {
	display: none;
}

//FOOTER FOOTER FOOTER FOOTER
// *****************************


.footer > li > a {
  color: black;
  font-weight: 600;
  font-size: 14px;
}

.footer {
  padding: 8px;
  font-size: 16px;
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: red;
    text-align: center;
    list-style-type: none; /* removed the bullet points */
    display: inline-block;
    box-shadow: 0px 500px 0px 500px #000;
}


#footer li {
  display: inline;
}


// *********************************************************
// *********************************************************
// Was 600 previously
@media screen and (max-width: 660px) {
// makes all the links dissapear except for the julius home logo link
  
  .navbar-links > a {display: none;}

  .navbar-links > a.icon {
    position: absolute;
    font-size:25px;
    top: -10px;
    display: block;
    text-align: right;

  }
// **********************
// ***********************Responsive**************
  .navbar-links.responsive a.icon {
    position: absolute;
    right: 0px;
    top: 0;
    text-align: right;

  }

  // This rule effects all links texts in the responsive version so they align left.
  .navbar-links.responsive a {
    float: none;
    display:inline-block;
    text-align:left;
    background-color:black;
    z-index: 0;

  }

  .navbar-links.responsive a {
          border-bottom:solid 1px grey;

  }
// ***********************Responsive**************

  .navbar-links > .icon:after {
    text-decoration:none;
    content:"\f063";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color:green;
    font-size: 24px;
    padding-right: 0.5em;
    border:solid lightgreen 1px;
    padding:4px;
    border-radius:50px;
}

.navbar-links > .icon {
  text-decoration:none;
  
}

  .navbar-links > .icon:hover:after {
    color:lightgreen;

  }


}


// *********************************************************




