/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";


html {
	// background-image: url(/assets/jheader.jpg);
	background-color: black;

}



.front-page > img {
	// padding: 10px 30px 0px 30px;
	// border-radius: 50px;
	position: absolute;
	top: 93px;
	max-width:100%;

	
}


	
.nav {
	background-color: black;
	/*font-family: 'Tangerine', serif;*/
	width: 100%;

	/*border: solid green;*/
	font-size: 16px;
	font-weight: 10;
	position: fixed;
	z-index: 1;
/*	position: relative;*/
	/*padding: 0px 0px 0px 20px;*/


	/*list-style: none;
	/*text-align: center;*/
	/*padding: 20px 0px 20px 0px;*/
}



/*.header {
	text-align: center;
}*/

.nav > li > a {
	color: green;
	// background-color: orange;
	font-weight: bold;
	font-size: 13px;

}


.nav > li > a:hover {
	color: green;
}

.nav-link > img {
	width: 45px;
	border-radius: 25%;
}

// .navbar-nav, .navbar-nav > li > a {

// 	text-align: center;
// 	z-index: 1;
	
// }

// .nav-item > a {
// 	text-align: center;
// }


// .shadow {
//     border: 1px solid;
//     padding: 10px;
//     box-shadow: 5px 10px 18px red;
// }




#contact-tab {
	color: red;
}

#gallery-tab {
	color: orange;
}

#drinks-music-tab {
	color: yellow;
}


#about {
	color: green;
}

#calendar {
	color: blue;
}

#giving-back {
	color: #4B0082;
}





#footer li {
	display: inline;
}

.footer {
	// border-radius: 20px;
	padding: 8px;
	font-size: 16px;
	/*border: solid black;*/
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: red;
    text-align: center;
    list-style-type: none; /* removed the bullet points */
    display: inline-block;
    box-shadow: 0px 500px 0px 500px #000;

}

.footer > li > a {
	color: black;
	font-weight: 600;
	font-size: 14px;

}


a:link {
    color: black;
}