/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.menu {
	text-align: center;
	color: red;
	padding: 11px;
}




/*.logo {
	color: red;
	float: left;
	
	padding: 10px 0px 10px 5px;
	font-size:  16px;
	font-weight: bold;
	font-family: 'Tangerine', serif;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;

}


.logo > a {
	text-decoration: none;
	color: black;
}  */

.banner {
	width: 100%;
	display: block;


}


.banner > .banner-image {
	width: 100%;
	
	
}


.nav {
	background-color: black;
	/*font-family: 'Tangerine', serif;*/
	width: 100%;

	/*border: solid green;*/
	font-size: 16px;
	font-weight: 10;
	position: fixed;
/*	position: relative;*/
	/*padding: 0px 0px 0px 20px;*/


	/*list-style: none;
	/*text-align: center;*/
	/*padding: 20px 0px 20px 0px;*/
}

/*.header {
	text-align: center;
}*/

.nav > li > a {
	color: green;
}


.nav > li > a:hover {
	color: green;
}


/*.nav > li {
	display: inline-block

}*/




#footer li {
	display: inline;
}

.footer {
	padding: 8px;
	font-size: 16px;
	/*border: solid black;*/
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: red;
    text-align: center;
    list-style-type: none; /* removed the bullet points */
    display: inline-block;
    box-shadow: 0px 500px 0px 500px #000;

}

.footer > li > a {
	color: black;
	font-weight: 900;
}

/*#hr {
	border-top: red;
    border-width: 100%;
    border-style: none;
    border-color: red;
}*/



a:link {
    color: black;
}


/*a:visited {
    color: red;
}*/


/*#hover a:hover {
	color: black;
}*/




/*.header {
	top: 0px;
}*/

/*.img-container {
	background-image: url(https://lh3.googleusercontent.com/VLTYuCJh0z7u4SSKnWN1a5AK5LOHRpn755m_8Nl4SlVWTqaBj7gf3M-wIj__zT1aHwOR3k7ZN5Ld0GlGbu_z6KcATsP2weSNrabSYrnByCyCdocPs5TKlMTgWJ5WXW7-7_dBzOTp2Q);
	height: 70%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	border: solid red;
}*/

/*.btn {
	display: inline-block;
	width: 200px;
	font-weight: bold;
	padding: 10px;
	color: #fff;
	border: 4px solid #fff;
	text-align: center;
	outline: none;
	text-decoration: none;
	transition: background-color 0.2s ease-out, color -.2s ease-out;
}
*/


/*a:active {
    color: yellow;
}*/