
	body {
		background-color:black;
		/*color:blue;*/
		font-family: sans-serif;
	}

	.image-header {
		position:relative;
		top:50px;
		left:42%;
		width:15%;
		height:auto;
		border-radius:2px;
	}

	.wrap {
		margin-top:20px;
	}

	.container {
		display:grid;
		grid-template-rows:repeat(6, 1fr);
		grid-template-columns:repeat(3, 1fr);
		box-shadow: 0 0 20px darkgreen;
		max-width:700px;
	}

	.header {
		background-color:green;
		font-color:white;
		grid-row:2;
		grid-column:1/4;
		margin-top:20px;
		padding:3px;
		text-align:center;
		font-size:16px;
		font-weight:900;
		border:solid gray 1px;
		text-shadow: 0 0 5px gray;
	}

	.date {
		grid-row:3;
		grid-column:1/2;
		text-align:center;
		color:green;
		font-size:16px;
		margin-top:10px;
		font-weight:bold;

	}

	.event {
		grid-row:3;
		grid-column:2/3;
		text-align:center;
		color:green;
		font-size:16px;
		margin-top:10px;
		font-weight:bold;
	}

	.time {
		grid-row:3;
		grid-column:3/4;
		text-align:center;
		color:green;
		font-size:16px;
		margin-top:10px;
		font-weight:bold;

	}


/* First Event */
	.event-1-date {
		grid-row:4;
		grid-column:1/2;
		text-align:center;
		color:white;
		font-size:16px;
	}

	.event-1-event {
		grid-row:4;
		grid-column:2/3;
		text-align:center;
		color:white;
		font-size:16px;

	}

	.event-1-time {
		grid-row:4;
		grid-column:3/4;
		text-align:center;
		color:white;
		font-size:16px;
	}

	/* Second Event */
	.event-2-date {
		grid-row:5;
		grid-column:1/2;
		text-align:center;
		color:white;
		font-size:16px;
	}

	.event-2-event {
		grid-row:5;
		grid-column:2/3;
		text-align:center;
		color:white;
		font-size:16px;

	}

	.event-2-time {
		grid-row:5;
		grid-column:3/4;
		text-align:center;
		color:white;
		font-size:16px;
	}



	/*Footer Images*/

	.footer-images {
		text-align: center;
		margin-top:40px;
	}

	.footer-images img {
		margin-left:auto;
		margin-right:auto;
		width:200px;
		height:auto;
	}

	.mobile-footer {
		display:none;
	}


@media only screen and (max-width: 810px) {

	.image-header {
		top:40px;
	}

	/* First Event */
	.event-1-date {
		font-size:14px;
	}

	.event-1-event {
		font-size:14px;
	}

	.event-1-time {
		font-size:14px;
	}

	/* Second Event */
	.event-2-date {
		font-size:14px;
	}

	.event-2-event {
		font-size:14px;

	}

	.event-2-time {
		font-size:14px;
	}

	.footer-images {
		display:none;
	}

	.mobile-footer {
		display:inline;
		
		/*text-align:center;*/
	}

	.mobile-footer img {
		width:100%;
		height:auto;
		padding-left:3px;
		padding-right:3px;
		margin-top:11px;
		margin-bottom:100px;
	}


}