// .contact-grid {
// 	margin: 60px;
// 	padding: 20px;

// 	border: solid red 5px;
// 	background: black;
// 	color: orange;
// }

	
	h1, h2 {
		color: blue;
	}
	

	hr {
		border-color:blue;
		margin:0;
		padding:0;
	}


	.dog-divider {
		width: 100px;
		margin: 2px;
		padding: 2px;
	}

	body {
		background-color:black;
		/*text-align: center;*/

		/*background: linear-gradient(90deg,rgba(0, 75, 150, 0.5),rgba(0, 75, 50, 0.5)),url(/assets/b.jpg);*/
		
		background-size: cover;
		background-position: center;
		font-family: sans-serif;
	}

	.wrap {
		display: grid;
		grid-template-columns: 1fr;


	}

	.container {
		position: relative;
		top: 100px;
		text-align:center;

		padding:0px 50px 0px 50px;
	}

	.container p {
		// font-size: 16px;
		// color: green;
	}

	.call-email {
		color:green;
		font-size: 16px;
		padding-top:20px;
	}

	.contact-header {
		background-color:green;
		color:white;
		font-size:20px;
		font-weight:900;
	}

	.geo-map {
		padding: 0 0 70px 0;
	}




	form {
		margin-top: 50px;
		transition: all 4s ease-in-out;
		/*float: center;*/
		position: relative;
		left: 30px;

	}


	.hours-of-operation {
		position: relative;
		top: 20px;
		padding: 2px;
		color: green;
		font-size: 16px;
		
	}

	.contact-specials {
		color:white;
		padding:50px 0 110px 0;
		font-size: 16px;
		text-align: center;
		border-radius:2%;

    	text-shadow: 12px 12px 2px red,
    		16px 16px 2px orange,
    		19px 19px 2px yellow,
    		22px 22px 2px green,
    		25px 25px 2px blue,
    		28px 28px 2px purple;
    		
	}


	.static-map {
		position: relative;
		text-align: center;
	
	}

	.contact-form {
		position:relative;
		text-align:center;
		padding: 0 9% 5% 0;

	}

	.submit-button {
		color:#EAC745;
		background-color:#521513;
		border: solid #EAC745 1px;
		font-size:13px;
		padding:10px;
		border-radius:10px;
	}















// Smaller Screens
@media only screen and (max-width: 600px) {

	body {
		background-color:black;
	}

		.container {
		position: relative;
		top: 100px;
		text-align:center;

		padding:0px 100px 0px 100px;
	}



}


