
	body {
		background-color:black;
		color:green;
		padding-bottom:50px;
	}

	.bg-for-all {
		background-image:url("https://lh3.googleusercontent.com/7u7qFZbbEgMT0w8b6Sg_9wfUE1eCBxOs9D-D_Iou-DP9hcDJ8gBbeCE5jl5uSiuClUYDqJwtGxxVQytcYYR8JIDnt-hkROcPfLVSg4HaAZ4rS6R3oqOMkI6c9jO1uUSTkuLQ4TDhUA=w2400");
	}


	.container {
		max-width:100%;
		background:transparent;
	}

	.main-img img {
		height:420px;
		width:auto;
		// width:375px;
		display: block;
    	margin-left: auto;
    	margin-right: auto;
    	padding-bottom:5px;
    	border:black solid 3px;
	}

	.imgs img {
		width:100%;
		border:black solid 3px;
		height:100px;
	}

	.imgs {
		display:grid;
		grid-template-columns:repeat(7, 1fr);
		grid-gap:5px;
		height:350px;
		overflow:scroll;
		border-top:green solid 2px;
	}




	@media only screen and (max-width: 600px) {


	.main-img img {
		// height:420px;
		// width:auto;
		width:375px;
		// display: block;
    	// margin-left: auto;
    	// margin-right: auto;
    	// padding-bottom:5px;
    	// border:black solid 3px;
	}



		.imgs img {
			// width:100%;
			// border:black solid 3px;
			height:50px;;
		}

	}

