
body {
	background-color:black;
}

.gallery-wrap {
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;

	.gallery-container {
		grid-column:2;
		grid-row:2;


			img {
				border: solid orange 2px;
			}

	}





}


 