

body, .wrap, #slider, .slide-content {
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	width:100%;
	height:100vh;
	overflow-x:hidden;
}

.wrap {
	position:relative;
}

.slide {
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;

}

.slide1 {
	background-image: url("https://lh3.googleusercontent.com/CPEe4CS9Qvbyn8hd4UnCD0IxLSJglu5TE7kMYSr8YZt-D9CkzRWkNM3Y02ZaEoUxE0nojAU3yVzv5RQKfLslhlJk4WWQpyLK81I0LimwTk3JP2M20betnp27kyqdSrYcf2lqlO2Guw=w2400");

}

.slide2 {
	background-image: url("https://lh3.googleusercontent.com/CPEe4CS9Qvbyn8hd4UnCD0IxLSJglu5TE7kMYSr8YZt-D9CkzRWkNM3Y02ZaEoUxE0nojAU3yVzv5RQKfLslhlJk4WWQpyLK81I0LimwTk3JP2M20betnp27kyqdSrYcf2lqlO2Guw=w2400");
}

.slide3 {
	background-image: url("https://lh3.googleusercontent.com/CPEe4CS9Qvbyn8hd4UnCD0IxLSJglu5TE7kMYSr8YZt-D9CkzRWkNM3Y02ZaEoUxE0nojAU3yVzv5RQKfLslhlJk4WWQpyLK81I0LimwTk3JP2M20betnp27kyqdSrYcf2lqlO2Guw=w2400");
}





