
	body {
		background-color:black;
		color:green;
		padding-bottom:50px;
	}

	.wrap {
		margin-top:-20px;
		// background-color:red;
	
	}

	// #arrow-left {
	// 	float:left;
	// 	width:50px;
	// 	height:50px;
	// 	background-color:green;
	// 	color:black;
	// 	font-weight:bold;
	// 	text-align:center;
	// 	border:solid black 2px;

	// 	p {
	// 		font-size:14px;
	// 		padding-top:10px;
	// 	}
	// }

	// #arrow-right {
	// 	float:right;
	// 	width:50px;
	// 	height:50px;
	// 	background-color:green;
	// 	color:black;
	// 	font-weight:bold;
	// 	text-align:center;
	// 	border:solid black 2px;

	// 	p {
	// 		font-size:14px;
	// 		padding-top:10px;
	// 	}
	// }

	.bg-for-all {
		background-image:url("https://lh3.googleusercontent.com/7u7qFZbbEgMT0w8b6Sg_9wfUE1eCBxOs9D-D_Iou-DP9hcDJ8gBbeCE5jl5uSiuClUYDqJwtGxxVQytcYYR8JIDnt-hkROcPfLVSg4HaAZ4rS6R3oqOMkI6c9jO1uUSTkuLQ4TDhUA=w2400");
	}


	.container {
		max-width:100%;
		background:transparent;
		// background-color:red;
	}

	// .container img:nth-child(1) {
	// 	height:420px;
	// 	width:auto;
	// 	display: block;
 //    	margin-left: auto;
 //    	margin-right: auto;
 //    	padding-bottom:5px;
 //    	border:black solid 3px;
	// }

	#current {
		// border:solid red 3px;
	}

	.main-img {
		margin-top:20px;
		height:420px;
		width:auto;
		display: block;
    	margin-left: auto;
    	margin-right: auto;
    	padding-bottom:0px;
    	border:black solid 2px;
    	margin-bottom:10px;
	}

	.imgs img {
		width:100%;
		border:black solid 1px;
		height:100px;
	}

	.imgs {
		display:grid;
		grid-template-columns:repeat(7, 1fr);
		grid-gap:5px;
		height:315px;
		overflow:scroll;
		border-top:black solid 2px;
		max-width:650px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:10px;
	}

// *********************************************
	@media only screen and (max-width: 600px) {

	.container .main-img {
		max-width:340px;
	}

	.main-img img {

		margin-left:auto;
		margin-right:auto;
		display:block;

	}

		.imgs img {
			height:50px;;
		}

	}

