
	body {
		background-color:black;
		color:green;
		padding-bottom:50px;
	}

	.wrap {
		margin-top:-20px;
	
	}


	.bg-for-all {
		background-image:url("https://lh3.googleusercontent.com/7u7qFZbbEgMT0w8b6Sg_9wfUE1eCBxOs9D-D_Iou-DP9hcDJ8gBbeCE5jl5uSiuClUYDqJwtGxxVQytcYYR8JIDnt-hkROcPfLVSg4HaAZ4rS6R3oqOMkI6c9jO1uUSTkuLQ4TDhUA=w2400");
	}


	.container {
		max-width:100%;
		background:transparent;
	}

	#current {
		
	}

	.main-img {
		border-radius:5px;
		margin-top:20px;
		width:auto;
		display: block;
    	margin-left: auto;
    	margin-right: auto;
    	padding-bottom:0px;
    	border:black solid 2px;
    	margin-bottom:10px;

	}

	.imgs img {
		width:100%;
		// width:100px;
		border:black solid 1px;
		border-radius:5px;
		border-bottom:solid orange 1px;
		
	}

	.imgs img:hover {
			cursor:pointer;

	}

	.imgs {
		display:grid;
		grid-template-columns:repeat(4, 1fr);
		grid-gap:5px;
		height:315px;
		overflow:scroll;
		border-top:green solid 3px;
		max-width:650px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:10px;
		// background-color:grey;
		// max-width:400px;
	}

// *********************************************
	@media only screen and (max-width: 600px) {

		.container .main-img {
			max-width:340px;
		}

		.main-img img {
			margin-left:auto;
			margin-right:auto;
			display:block;

		}

		.imgs img {
			margin-bottom:5px;

		}


		.imgs {
			height:185px;
			background-color:transparent;
			margin-bottom:10px;
			border-bottom:green solid 3px;
		}

	}

