

body {
	background-color:black;
}

// Social Media Icons. facebook, instagram, twitter.

// This is the class in the ul (unordered list).
	.social-media {
		// display:flex;
		position:absolute;
		top:40%;
		left:8%;
		transform: translate(-50%, -50%);
	}

	.social-media li {
		list-style: none;
	}

	.social-media li a {
		width:80px;
		height:80px;
		background: #fff;
		text-align:center;
		line-height:80px;
		font-size:35px;
		margin: 0px 10px;
		display:block;
		border-radius:50px;
		position:relative;
		overflow:hidden;
		border:solid 3px #fff;
		// z-index:1;
	}

	.social-media li a .fa {
		position:relative;
		color: #262626;
		transition: 0.5s;
	}

	.social-media li a:hover .fa {
		color:#fff;
		animation: rotate 2s normal forwards ease-in-out;
		z-index:3;
	}

	.social-media li a:after {
		content: '';
		position:absolute;
		top:100%;
		left:0;
		width:100%;
		height:100%;
		background:#f00;
		transition: 0.5s;
		// z-index:2;
	}

	.social-media a:hover:after {
		top:0;
	}


	.social-media li:nth-child(1) a:after {
		background:#3b5999;
	}

	.social-media li:nth-child(2) a:after {
		background:#55acee;
	}


	.social-media li:nth-child(3) a:after {
		background:#e4405f;
	}



	@keyframes rotate {
	  0% { transform: rotateY(0deg) }
	  100% { transform: rotateY(360deg) }
	}

// **********


.gay-pride {
	position:relative;
	top:90px;
	text-align:center;
	font-size:16px;
	font-weight:900;
	color:pink;
	background-color:green;
	padding:2px;
	border:black solid 2px;
}


		.indexWrapper {
			background-image:url("https://lh3.googleusercontent.com/mPyeGyo6zqVxCIK6Y4Ms8JdPhKK8Wky6GEw_WdN8AP44SuOnny9pfaozucuv6snNAwXrzVwh28k63l5YjHw2R-ymnIm6ZGzi8ukLxZAjtAw0qJwtc08I2jFqxvTzT1FJ_Fl8ipDooQ=w2400");
			// background-repeat:repeat-y;
			// background-size:cover;
			// background-size:100% 100%;

			padding:50px;

			display:grid;
			grid-template-columns:1fr;
			/*grid-template-columns:1fr 2fr 1fr;*/
			grid-template-rows:minmax(100px, auto);
			grid-gap:0em;
			justify-items:stretch;
			align-items:stretch;
			background-color:black;
			color: red;
	}

	.indexWrapper > div > img {
		position: relative;
		border-radius: 2%;
		/*background-color:red;*/
		margin: 10px;
		/*padding:20px;*/
		/*min-width:100%;*/
		/*max-width:100%;*/
		height: 70%;
		width: 70%;
	}

	.indexWrapper > div {
		text-align: center;
	}



	.mattachine {
		padding-top:45px;
		grid-row:1;
		max-width:1000px;
		margin-left:auto;
		margin-right:auto;
	}

	.mattachine > p {
		padding:2px;
		border:solid green 1px;
		color:white;
		position:relative;
		text-align:center;
		font-size: 22px;
		text-shadow: 0 0 10px orange;
	}

	.owlparty {
		grid-row:3;
	}

	.owlparty > p {
		padding: 2px;
		border:solid green 1px;
		color:white;
		position:relative;
		text-align:center;
		font-size: 22px;
	}




	.specials {
		font-size: 16px;
		color:white;
		text-align: center;
		padding: 20px;
		border: solid green 2px;
		border-radius:2%;
		grid-row:5;
		// grid-row:4;
		background-color:black;
		max-width:700px;
		margin-left:auto;
		margin-right:auto;


    	text-shadow: 12px 12px 2px red,
    		16px 16px 2px orange,
    		19px 19px 2px yellow,
    		22px 22px 2px green,
    		25px 25px 2px blue,
    		28px 28px 2px purple;
    		
	}


.hours-of-operation {
	top: 32px;
	position: relative;
	text-align:center;
	color: white;
	font-size:16px;
	padding: 5px;
	grid-row:6;
	text-shadow: 0 0 10px orange;
}

.hours-of-operation > p {
	font-size: 16px;
	margin: 10px;
	background-color: green;
	color: white;
	border:solid gray 1px;
	// text-shadow: 0 0 10px orange;
}



	.bh-dividers {
		/*align-self:center;*/
		grid-row:4;
		justify-self:center;

		width:100px;
		/*height: 100px;*/
	}
