

body {
	background-color:black;
}



// Social Media Icons. facebook, instagram, twitter.
.social-media {
	// color:white;
	// display:flex;
	position:absolute;
	top:20%;
	left:-2%;
	transform: translate(0%, 70%);
	z-index:1;

	li {
		list-style:none;
	}

	a {

		width:35px;
		height:35px;
		background:green;
		text-align:center;
		line-height:32px;
		font-size:25px;
		margin: 0 10px;
		display:block;
		border-radius:50%;
		position:relative;
		overflow:hidden;
		border:solid 1px black;
	}

	.fa {
		position:relative;
		// color:#262626;
		color:white;
		transition:1s;
	}

	a:hover .fa {
		transform: rotateY(180deg);
	}
}









.gay-pride {
	position:relative;
	top:90px;
	text-align:center;
	font-size:16px;
	font-weight:900;
	color:pink;
	background-color:green;
	padding:2px;
	border:black solid 2px;
}


		.indexWrapper {
			background-image:url("https://lh3.googleusercontent.com/mPyeGyo6zqVxCIK6Y4Ms8JdPhKK8Wky6GEw_WdN8AP44SuOnny9pfaozucuv6snNAwXrzVwh28k63l5YjHw2R-ymnIm6ZGzi8ukLxZAjtAw0qJwtc08I2jFqxvTzT1FJ_Fl8ipDooQ=w2400");
			// background-repeat:repeat-y;
			// background-size:cover;
			// background-size:100% 100%;

			padding:50px;

			display:grid;
			grid-template-columns:1fr;
			/*grid-template-columns:1fr 2fr 1fr;*/
			grid-template-rows:minmax(100px, auto);
			grid-gap:0em;
			justify-items:stretch;
			align-items:stretch;
			background-color:black;
			color: red;
	}

	.indexWrapper > div > img {
		position: relative;
		border-radius: 2%;
		/*background-color:red;*/
		margin: 10px;
		/*padding:20px;*/
		/*min-width:100%;*/
		/*max-width:100%;*/
		height: 70%;
		width: 70%;
	}

	.indexWrapper > div {
		text-align: center;
	}



	.mattachine {
		padding-top:45px;
		grid-row:1;
	}

	.mattachine > p {
		padding:2px;
		border:solid green 1px;
		color:white;
		position:relative;
		text-align:center;
		font-size: 22px;
	}

	.owlparty {
		grid-row:3;
	}

	.owlparty > p {
		padding: 2px;
		border:solid green 1px;
		color:white;
		position:relative;
		text-align:center;
		font-size: 22px;
	}




	.specials {
		font-size: 16px;
		color:white;
		text-align: center;
		padding: 20px;
		border: solid green 2px;
		border-radius:2%;
		grid-row:5;
		background-color:black;


    	text-shadow: 12px 12px 2px red,
    		16px 16px 2px orange,
    		19px 19px 2px yellow,
    		22px 22px 2px green,
    		25px 25px 2px blue,
    		28px 28px 2px purple;
    		
	}


.hours-of-operation {
	top: 32px;
	position: relative;
	text-align:center;
	color: white;
	font-size:16px;
	padding: 5px;
	
	grid-row:6;
}

.hours-of-operation > p {
	font-size: 16px;
	margin: 10px;
	background-color: green;
	color: white;
	border:solid gray 1px;
}



	.bh-dividers {
		/*align-self:center;*/
		grid-row:4;
		justify-self:center;

		width:100px;
		/*height: 100px;*/
	}
