

<div class="container">
<!-- <div id="hr"> -->
	<div id="footer">
			<ul class="footer" id="hover">
				<li><a href="/welcome/index">Home |</a></li>

				<li><a href="/welcome/menu2">Menu |</a></li>

				<li><a href="/welcome/gallery3">Gallery |</a></li>

				<li><a href="/welcome/about">About |</a></li>

				<li><a href="welcome/calendar2">Calendar |</a></li>

				<li><a href="/comments/new">Contact |</a></li>

				<li><a href="/welcome/links"">Links |</a></li>

			</ul>
	</div>
</div>






<!-- home
profile
contact
gallery
drinks
about
calendar
giving

 -->